<form class="form" [formGroup]="form" (ngSubmit)="check()">
    <div fxLayout="column" fxLayoutGap="5px">
        <mat-form-field class="px-2" appearance="outline" fxFlex="grow">
            <mat-label jhiTranslate="examenDecDscApp.candidat.identity.numeroDossier.label"></mat-label>
            <input required cdkFocusInitial formControlName="numeroDossier" matInput>
            <mat-error *ngIf="form.get('numeroDossier').dirty && form.get('numeroDossier').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.identity.numeroDossier.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field class="px-2" appearance="outline" fxFlex="grow">
            <mat-label jhiTranslate="examenDecDscApp.candidat.identity.email.label"></mat-label>
            <input required formControlName="email" matInput>
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.identity.email.error.required"></mat-error>
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')"
                jhiTranslate="examenDecDscApp.candidat.identity.email.error.email"></mat-error>
        </mat-form-field>

        <mat-form-field class="px-2" appearance="outline" fxFlex="grow">
            <mat-label jhiTranslate="examenDecDscApp.candidat.identity.telephone.label"></mat-label>
            <input required formControlName="telephone" matInput>
            <mat-error *ngIf="form.get('telephone').dirty && form.get('telephone').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.identity.telephone.error.required"></mat-error>
        </mat-form-field>

        <mat-progress-bar *ngIf="isChecking" mode="indeterminate"></mat-progress-bar>

        <button [@shake]="isShaking" mat-raised-button color="primary" type="submit" [disabled]="isChecking">Ouvrir</button>
    </div>
</form>
