<!--========== NAV ==========-->
<nav class="nav__container">
    <div>
        <a routerLink="#" class="nav__link nav__logo">
            <i class="fa fa-bullseye nav__icon" aria-hidden="true"></i>
            <span class="nav__logo-name"
                jhiTranslate="examenDecDscApp.sidebar.title">DEC-DSC</span>
        </a>

        <div class="nav__list">
            <div class="nav__items">
                <h3 class="nav__subtitle" jhiTranslate="examenDecDscApp.sidebar.param.title">Paramétrage</h3>

                <div class="nav__dropdown">
                    <a routerLink="#" class="nav__link">
                        <i class='fa fa-cogs nav__icon' ></i>
                        <span class="nav__name" jhiTranslate="examenDecDscApp.sidebar.param.config.label">Config</span>
                        <i class='fa fa-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a routerLink="/examen" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.param.config.examen">Examen</a>
                            <a routerLink="/diplome" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.param.config.diplome">Diplôme</a>
                            <a routerLink="/nationalite" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.param.config.nationalite">Nationalité</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADMINISTRATION -->
            <div class="nav__items">
                <h3 class="nav__subtitle" jhiTranslate="examenDecDscApp.sidebar.admin.title">Administration</h3>

                <div class="nav__dropdown">
                    <a routerLink="#" class="nav__link">
                        <i class='fa fa-user-secret nav__icon' ></i>
                        <span class="nav__name" jhiTranslate="examenDecDscApp.sidebar.admin.general.label">General</span>
                        <i class='fa fa-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a routerLink="/session" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.admin.general.session">Session</a>
                            <!-- <a routerLink="/candidature" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.admin.general.candidature">Candidature</a> -->
                            <a routerLink="/candidat" class="nav__dropdown-item"
                                jhiTranslate="examenDecDscApp.sidebar.admin.general.candidat">Candidat</a>
                        </div>
                    </div>
                </div>

                <!-- <div class="nav__dropdown">
                    <a routerLink="#" class="nav__link">
                        <i class='fa fa-user nav__icon' ></i>
                        <span class="nav__name">Examens</span>
                        <i class='fa fa-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a routerLink="/admin/session" class="nav__dropdown-item">Passwords</a>
                            <a routerLink="#" class="nav__dropdown-item">Mail</a>
                            <a routerLink="#" class="nav__dropdown-item">Accounts</a>
                        </div>
                    </div>
                </div> -->
            </div>

            <!-- <div class="nav__items">
                <h3 class="nav__subtitle">Profile</h3>

                <a routerLink="#" class="nav__link active">
                    <i class='fa fa-home nav__icon' ></i>
                    <span class="nav__name">Home</span>
                </a>

                <div class="nav__dropdown">
                    <a routerLink="#" class="nav__link">
                        <i class='fa fa-user nav__icon' ></i>
                        <span class="nav__name">Profile</span>
                        <i class='fa fa-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a routerLink="#" class="nav__dropdown-item">Passwords</a>
                            <a routerLink="#" class="nav__dropdown-item">Mail</a>
                            <a routerLink="#" class="nav__dropdown-item">Accounts</a>
                        </div>
                    </div>
                </div>

                <a routerLink="#" class="nav__link">
                    <i class='fa fa-message-rounded nav__icon' ></i>
                    <span class="nav__name">Messages</span>
                </a>
            </div>

            <div class="nav__items">
                <h3 class="nav__subtitle">Menu</h3>

                <div class="nav__dropdown">
                    <a routerLink="#" class="nav__link">
                        <i class='fa fa-bell nav__icon' ></i>
                        <span class="nav__name">Notifications</span>
                        <i class='fa fa-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a routerLink="#" class="nav__dropdown-item">Blocked</a>
                            <a routerLink="#" class="nav__dropdown-item">Silenced</a>
                            <a routerLink="#" class="nav__dropdown-item">Publish</a>
                            <a routerLink="#" class="nav__dropdown-item">Program</a>
                        </div>
                    </div>

                </div>

                <a routerLink="#" class="nav__link">
                    <i class='fa fa-compass nav__icon' ></i>
                    <span class="nav__name">Explore</span>
                </a>

                <a routerLink="#" class="nav__link">
                    <i class='fa fa-bookmark nav__icon' ></i>
                    <span class="nav__name">Saved</span>
                </a>
            </div> -->
        </div>
    </div>

    <a (click)="logout()" class="nav__link nav__logout">
        <i class='fa fa-sign-out nav__icon' ></i>
        <span class="nav__name" jhiTranslate="examenDecDscApp.sidebar.logout">Log Out</span>
    </a>
</nav>
