@import 'app/styles/colors';
@import 'app/styles/variables';

.notification-button {
  background-color: $blue;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
    color: $white-35;
  }

  &:hover {
    background-color: $black-08;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.notification-menu {
  &__button {
    &:hover {
      background-color: $blue-white;
    }
  }

  &__icon {
    &_yellow {
      color: $yellow;
    }

    &_green {
      color: $green;
    }

    &_pink {
      color: $pink;
    }

    &_blue {
      color: $blue;
    }
  }
}
