<button class="notification-button" mat-mini-fab [matMenuTriggerFor]="bell">
  <mat-icon [matBadge]="badge" [matBadgeColor]="color" class="notification-button__icon">notifications_none</mat-icon>
</button>

<mat-menu #bell="matMenu" xPosition="before" class="notification-menu">
    <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_yellow">local_offer</mat-icon>Check out this awesome ticket
    </button>

    <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_pink">looks</mat-icon>
        {{ countWaiting }} candidature(s) en attente(s)
    </button>

    <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_pink">thumb_down</mat-icon>
        {{ countInvalide }} candidature(s) refusée(s)
    </button>
</mat-menu>
