._container {
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 10px;
  padding: 2px 3px 2px 2px;
  background-color: rgba(216, 214, 214, 0.185);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
