<div class="_container">
    <button mat-icon-button (click)="onClick()">
        <mat-icon class="mat-18">file_upload</mat-icon>
    </button>

    <span *ngIf="file" @fadeInOut>
        {{ file.data.name }}
        <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
        <mat-icon>cancel</mat-icon></a>
    </span>

    <input type="file" id="fileUpload" name="fileUpload" accept="{{ accept }}" style="display:none;"/>

    <button mat-raised-button (click)="uploadFile()" [disabled]="!file" class="mr-1 mt-1 float-right">Charger</button>
</div>

