<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.epreuve.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
      <div class="h-max-dialog">
        <div fxLayout="row wrap" fxLayoutGap="5px">
          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.epreuve.edit.code.label"></mat-label>
            <input required cdkFocusInitial formControlName="code" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.epreuve.edit.nom.label"></mat-label>
            <input formControlName="nom" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.epreuve.edit.coef.label"></mat-label>
            <input formControlName="coef" matInput>
            <mat-hint jhiTranslate="examenDecDscApp.epreuve.edit.coef.hint"></mat-hint>
        </mat-form-field>

        <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.epreuve.edit.type.label"></mat-label>
            <mat-select required formControlName="type">
                <mat-option *ngFor="let type of typeEpreuves" [value]="type">
                {{ ('examenDecDscApp.TypeEpreuve.' + type) | translate }}
                </mat-option>
            </mat-select>
            <mat-hint jhiTranslate="examenDecDscApp.epreuve.edit.type.hint"></mat-hint>
            <mat-error *ngIf="form.get('type').dirty && form.get('type').hasError('required')"
                jhiTranslate="examenDecDscApp.epreuve.edit.type.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.epreuve.edit.parent.label"></mat-label>
            <mat-select formControlName="parent" [compareWith]="compare">
                <mat-option *ngFor="let epreuve of epreuves" [value]="epreuve">{{ epreuve.nom }}</mat-option>
            </mat-select>
            <mat-hint jhiTranslate="examenDecDscApp.epreuve.edit.parent.hint"></mat-hint>
        </mat-form-field>

        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.epreuve.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.epreuve.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
