.sidebar {
  position: relative;
  width: 60px;
  /* background: #09062f; */
  transition: .5s;
  overflow: hidden;
  transition: .5s;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}
.sidebar:hover, .sidebar.active {
  width: 300px;
}
.sidebar ul p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 2em;
  color: #fff;
  margin: 0px;
  padding: 0px;
  padding-left: 10%;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in;
}
.sidebar:hover ul p {
  visibility: visible;
  opacity: 1;
}
.sidebar ul {
  position: absolute;
  top: 60px;
  left: 0px;
  padding: 0px;
  width: 100%;
}
.sidebar ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.sidebar ul li:hover {
  background: #0441169b;
}
.sidebar ul li::before {
  content: '';
  position: absolute;
  background: linear-gradient(to left, blue, green);
  width: 80%;
  height: 2px;
  border-radius: 10px;
  bottom: 0;
  left: -100px;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in-out;
}
.sidebar ul li:hover:before {
  bottom: 0;
  left: 5px;
  visibility: visible;
  opacity: 1;
}
.sidebar ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
}
.sidebar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.sidebar ul li a .icon .fa {
  font-size: 24px;
}
.sidebar ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  opacity: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: .5s ease-in;
}
.sidebar.active ul li a .title,
.sidebar.active p,
.sidebar:hover ul li a .title {
  opacity: 1;
  visibility: visible;
}
.sidebar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: #040533a4;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.sidebar .toggle:hover {
  background: #04310c85;
}
.sidebar .toggle i {
  position: absolute;
  left: 0px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  transition: 1s;
}
