<div class="sidebar">
    <div class="toggle" (click)="toggleMenu()">
        <i class="toggler fa fa-bars" aria-hidden="true"></i>
        <i class="toggler fa fa-bars" aria-hidden="true"></i>
    </div>
    <ul>
        <div *ngFor="let link of links">
            <p>{{ link.label }}</p>
            <li *ngFor="let sublink of link.children">
                <a [routerLink]="sublink.route" routerLinkActive="router-link-active">
                    <span class="icon"><i [ngClass]="sublink.icon" aria-hidden="true"></i></span>
                    <span class="title">{{ sublink.label }}</span>
                </a>
            </li>
        </div>
    </ul>
</div>
