<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.session.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type-passage="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2">

        <mat-form-field appearance="outline">
            <mat-label jhiTranslate="examenDecDscApp.session.edit.libelle.label"></mat-label>
            <input cdkFocusInitial required formControlName="libelle" matInput>
            <mat-error *ngIf="form.get('libelle').dirty && form.get('libelle').hasError('required')"
                jhiTranslate="examenDecDscApp.session.edit.libelle.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label jhiTranslate="examenDecDscApp.session.edit.examen.label"></mat-label>
            <mat-select required formControlName="examen" [compareWith]="compare">
                <mat-option *ngFor="let examen of examens" [value]="examen">
                    {{ examen.nom }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('examen').dirty && form.get('examen').hasError('required')"
                jhiTranslate="examenDecDscApp.session.edit.examen.error.required"></mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.session.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.session.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
