<jhi-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Tables</h1>
  </mat-toolbar>

  <div class="tables-wrapper">
    <jhi-employee-table [employeeTableData]="employeeTableData$ | async"></jhi-employee-table>
    <jhi-material-table [materialTableDate]="materialTableData$ | async"></jhi-material-table>
  </div>

  <jhi-footer></jhi-footer>
</jhi-layout>
