<form (ngSubmit)="save()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="docDecDscApp.doc.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type-passage="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2">
        <jhi-file-selector (select)="select($event)"
                            text="examenDecDscApp.doc.edit.file.label"></jhi-file-selector>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">
            <span jhiTranslate="docDecDscApp.doc.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="isSaving">
        <span jhiTranslate="docDecDscApp.doc.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
