<div [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label jhiTranslate="examenDecDscApp.note.trait.typeCandidature.label"></mat-label>
        <mat-select formControlName="typeCandidature" [disabled]="disabled(typeCandidature)">
            <mat-option *ngFor="let type of typeCandidatures" [value]="type"
                [disabled]="disabled(type)">
                {{ 'examenDecDscApp.note.trait.typeCandidature.' + type | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
