<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidature.reject.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog">
            <div fxLayout="row wrap"  fxLayoutGap="5px">

                <mat-input-container fxFlex="grow">
                    <mat-label jhiTranslate="examenDecDscApp.candidature.reject.content.label"></mat-label>
                    <textarea  fxFlex="grow" matInput formControlName="content" required
                            placeholder="{{ 'examenDecDscApp.candidature.reject.content.placeholder' | translate }}"></textarea>
                    <span matSuffix jhiTranslate="examenDecDscApp.candidature.reject.content.hint"></span>
                    <mat-error *ngIf="form.get('content').dirty && form.get('content').hasError('required')"
                        jhiTranslate="examenDecDscApp.candidature.reject.content.error.required"></mat-error>
                    <mat-error *ngIf="form.get('content').dirty && form.get('content').hasError('maxlength')"
                        jhiTranslate="examenDecDscApp.candidature.reject.content.error.maxLength"></mat-error>
                    <mat-error *ngIf="form.get('content').dirty && form.get('content').hasError('minlength')"
                        jhiTranslate="examenDecDscApp.candidature.reject.content.error.minLength"></mat-error>
                </mat-input-container>

            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.candidature.reject.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit"
        [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.candidature.reject.confirm">Register</span></button>
    </mat-dialog-actions>
</form>
