<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div fxLayout="column" fxLayoutGap="5px" class="m-2 p-2">
        <mat-form-field appearance="outline" fxFlex="80%" fxFlex.lt-md="grow">
            <mat-label jhiTranslate="global.form.username.label"></mat-label>
            <input required cdkFocusInitial formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="80%" fxFlex.lt-md="grow">
            <mat-label jhiTranslate="login.form.password"></mat-label>
            <input required formControlName="password" matInput>
        </mat-form-field>

        <mat-checkbox name="rememberMe" id="rememberMe" formControlName="rememberMe"
            color="primary">
            <span jhiTranslate="login.form.rememberme">Remember me</span>
        </mat-checkbox>

        <mat-progress-bar *ngIf="isLogin" mode="indeterminate"></mat-progress-bar>

        <div>
            <button [@shake]="isShaking" color="primary" mat-raised-button [disabled]="isLogin" type="submit">
                <span jhiTranslate="login.form.button"></span>
            </button>
        </div>

        <div fxFlex="grow">
            <div class="mt-3 alert alert-warning">
                <a class="alert-link" routerLink="['/account/reset']" routerLinkActive="router-link-active"  jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
        </div>
    </div>
</form>
