<mat-toolbar class="header">

  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">arrow_back</mat-icon>
    </button>
    <h6 class="header__title-text">DEC-DSC</h6>
  </div>

  <div class="header-toolbar">
    <jhi-notifications></jhi-notifications>
    <jhi-user [user]="candidat" (signOut)="signOut()"></jhi-user>
  </div>

</mat-toolbar>
