@import 'app/styles/colors';
@import 'app/styles/font';
@import 'app/styles/variables';

.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-button {
    background-color: $header-button-background-color;
    box-shadow: none;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 32px;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      display: none;
    }
  }
}

.header-toolbar {
  display: flex;
  align-items: center;

  .unlock-button {
    border-color: $pink;
    margin-right: 16px;
    text-transform: uppercase;

    letter-spacing: .0892857143em;
    @media (max-width: $small) {
      display: none;
    }
  }
}
