<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.note.upload.title">Suppression</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<br>
<mat-dialog-content fxLayout="column">
    <mat-progress-bar *ngIf="isUploading || isSaving" mode="indeterminate" color="primary"></mat-progress-bar>

    <div>
        <div class="h-table">
            <table [@stagger]="dataSource.filteredData"
                [dataSource]="dataSource"
                class="w-full"
                fxFlex="auto"
                mat-table>

                <ng-container matColumnDef="candidat">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.note.upload.dataTable.candidat"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">
                        ({{ element?.candidature?.candidat?.numeroDossier }}) {{ element?.candidature?.candidat?.prenom }} {{ element?.candidature?.candidat?.nom }}
                    </td>
                </ng-container>

                <ng-container [matColumnDef]="column" *ngFor="let column of additionnalColumns; let i=index" >
                    <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ getValueNote(element, column) }}</td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

                <tr *matRowDef="let row; columns: visibleColumns;"
                    @fadeInUp
                    class="hover:bg-hover cursor-pointer"
                    mat-row></tr>
            </table>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
        <span jhiTranslate="examenDecDscApp.note.upload.cancel">Cancel</span>
    </button>
    <button color="warn" mat-button [disabled]="isUploading || isSaving" (click)="save()">
        <span jhiTranslate="examenDecDscApp.note.upload.register">Confirm</span>
    </button>
</mat-dialog-actions>
