<div class="card">
    <form (ngSubmit)="save()" [formGroup]="form">
        <div fxLayout="row" fxLayoutAlign="start center"
            class="header px-5 pt-5 pb-2">
            <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidat.edit.title"></h2>
        </div>

        <mat-divider class="-mx-6 text-border"></mat-divider>

        <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="30%" class="left-side">
                <div class="img-side"></div>
            </div>

            <div fxFlex="70%">
                <div gdColumns="1fr 1fr"
                    gdColumns.lt-sm="1fr"
                    gdGap="10px"
                    class="my-2 simplebar">

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.prenom.label"></mat-label>
                        <input required cdkFocusInitial formControlName="prenom" matInput>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.nom.label"></mat-label>
                        <input formControlName="nom" matInput>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.dateNaissance.label"></mat-label>
                        <input required matInput formControlName="dateNaissance" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="form.get('dateNaissance').dirty && form.get('dateNaissance').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.dateNaissance.error.required"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.lieuNaissance.label"></mat-label>
                        <input required formControlName="lieuNaissance" matInput>
                        <mat-error *ngIf="form.get('lieuNaissance').dirty && form.get('lieuNaissance').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.lieuNaissance.error.required"></mat-error>
                    </mat-form-field>

                    <section gdColumn="1 / 2"
                            gdColumn.lt-sm="1">
                        <label class="example-margin ml-2"><span jhiTranslate="examenDecDscApp.candidat.edit.sexe.label"></span> * : </label>
                        <mat-radio-group required formControlName="sexe" class="mr-2">
                            <mat-radio-button class="ml-5" value="HOMME">
                                <span jhiTranslate="examenDecDscApp.candidat.edit.sexe.homme"></span>
                            </mat-radio-button>
                            <mat-radio-button class="example-margin" value="FEMME">
                                <span jhiTranslate="examenDecDscApp.candidat.edit.sexe.femme"></span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.nationalite.label"></mat-label>
                        <mat-select required formControlName="nationalite">
                        <mat-option *ngFor="let nationalite of nationalites" [value]="nationalite">
                            {{ nationalite.libelle }}
                        </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('nationalite').dirty && form.get('nationalite').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.nationalite.error.required"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                         gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse1.label"></mat-label>
                        <input formControlName="adresse1" matInput>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.typePiece.label"></mat-label>
                        <mat-select required formControlName="typePiece">
                            <mat-option *ngFor="let typePiece of typePieces" [value]="typePiece">
                                {{ typePiece }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('typePiece').dirty && form.get('typePiece').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.typePiece.error.required"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                         gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse2.label"></mat-label>
                        <input formControlName="adresse2" matInput>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.numeroPiece.label"></mat-label>
                        <input required formControlName="numeroPiece" matInput>
                        <mat-error *ngIf="form.get('numeroPiece').dirty && form.get('numeroPiece').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.numeroPiece.error.required"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                         gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse3.label"></mat-label>
                        <input formControlName="adresse3" matInput>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.telephone.label"></mat-label>
                        <input required formControlName="telephone" matInput>
                        <mat-error *ngIf="form.get('telephone').dirty && form.get('telephone').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.telephone.error.required"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="2 / -1"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.email.label"></mat-label>
                        <input required formControlName="email" matInput>
                        <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')"
                            jhiTranslate="examenDecDscApp.candidat.edit.email.error.required"></mat-error>
                        <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')"
                            jhiTranslate="examenDecDscApp.candidat.edit.email.error.email"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="px-2" appearance="outline"
                        gdColumn="1 / 2"
                        gdColumn.lt-sm="1">
                        <mat-label jhiTranslate="examenDecDscApp.candidat.edit.diplomes.label"></mat-label>
                        <mat-select multiple formControlName="diplomes">
                            <mat-option *ngFor="let diplome of diplomes" [value]="diplome">
                                {{ diplome.nom }}
                            </mat-option>
                        </mat-select>
                        <mat-hint align="end" jhiTranslate="examenDecDscApp.candidat.edit.diplomes.hint"></mat-hint>
                    </mat-form-field>

                    <div class="px-2" gdColumn="2 / -1" gdColumn.lt-sm="1">
                        <jhi-file-selector (select)="select($event)"
                                            text="examenDecDscApp.candidat.edit.docs.label"></jhi-file-selector>
                    </div>

                </div>

                <div class="footer">
                    <button class="float-right m-3"
                            color="primary" mat-raised-button
                            type="submit" [disabled]="form.invalid || isSaving">
                        <span jhiTranslate="examenDecDscApp.candidat.edit.register">Register</span>
                    </button>
                </div>
            </div>
        </div>


    </form>
</div>
