.header {
  background-color: rgb(244, 255, 255);
}

.footer {
  background-color: rgb(244, 255, 255);
}

.img-side {
  position: sticky;
  top: 20px;
  height: 80%;
  width: 100%;
  background-color: blue;
  background: url('../../../../content/images/image-session.png') no-repeat center top;
  background-size: auto 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left-side {
  padding: 50px 5px 0px 5px;
}
