<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidat.upload.title">Suppression</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<br>
<mat-dialog-content fxLayout="column">
    <mat-progress-bar *ngIf="isUploading || isSaving" mode="indeterminate" color="primary"></mat-progress-bar>
    <div>
        <div class="h-table">
            <table [@stagger]="dataSource.filteredData"
                [dataSource]="dataSource"
                class="w-full"
                fxFlex="auto"
                mat-table>

                <ng-container matColumnDef="prenom">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.prenom"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.prenom }}</td>
                </ng-container>

                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.nom"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.nom }}</td>
                </ng-container>

                <ng-container matColumnDef="dateNaissance">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.dateNaissance"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.dateNaissance }}</td>
                </ng-container>

                <ng-container matColumnDef="lieuNaissance">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.lieuNaissance"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.lieuNaissance }}</td>
                </ng-container>

                <ng-container matColumnDef="sexe">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.sexe"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.sexe }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.email"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                    <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="examenDecDscApp.candidat.dataTable.telephone"></span>
                    </th>
                    <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.telephone }}</td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

                <tr *matRowDef="let row; columns: visibleColumns;"
                    @fadeInUp
                    class="hover:bg-hover cursor-pointer"
                    mat-row></tr>
            </table>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
        <span jhiTranslate="examenDecDscApp.candidat.upload.cancel">Cancel</span>
    </button>
    <button color="warn" mat-button [disabled]="isUploading || isSaving" (click)="save()">
        <span jhiTranslate="examenDecDscApp.candidat.upload.register">Confirm</span>
    </button>
</mat-dialog-actions>
