<!-- <div class="h-full" fxLayout="column">
    <div class="p-6 pb-0 bg-cote-ivoire-orange shadow-b" fxFlex="none">
        <div fxLayout="row" fxLayoutAlign="end center" class="my-5">
            <jhi-file-upload accept="['.xlsx']"
                    (complete)="complete($event)"></jhi-file-upload>


            <button (click)="openExamen()"
                    class="ltr:ml-1 rtl:mr-1"
                    fxFlex="none"
                    fxHide.gt-xs
                    mat-mini-fab
                    matTooltip="Add Examen"
                    type="button">
                    <mat-icon>person_add</mat-icon>
            </button>

            <button (click)="openExamen()"
                    class="ltr:ml-4 rtl:mr-4"
                    fxFlex="none"
                    fxHide.xs
                    mat-raised-button
                    type="button">
                    <mat-icon class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                    inline="true"
                    size="20px">person_add</mat-icon>
                    <span jhiTranslate="examenDecDscApp.examen.grid.add">Ajouter</span>
            </button>
        </div>
    </div>

  <div *ngIf="searchStr$.length > 0"
       @stagger
       class="overflow-y-auto"
       fxFlex="auto">
    <div class="p-gutter m-2"
         gdColumns="1fr 1fr"
         gdColumns.xs="1fr"
         gdGap="24px">
      <jhi-examen-card *ngFor="let examen of searchStr$"
                          (openExamen)="openExamen(examen)"
                          (deleteExamen)="deleteExamen(examen)"
                          @fadeInUp
                          [examen]="examen"
                          gridColumn="1 / 3"></jhi-examen-card>
    </div>
  </div>

  <div *ngIf="searchStr$.length === 0"
        @scaleFadeIn
        fxFlex="auto"
        fxLayout="column"
        fxLayoutAlign="center center">
        <img class="m-5 h-img-no-data" src="../../../../content/images/empty-data.png">
        <h2 class="headline m-0 text-center text-sm" jhiTranslate="examenDecDscApp.examen.grid.no-data"></h2>
  </div>
</div> -->
<div class="a-container">
    <div class="a-header">
        <h2 class="title">Examens</h2>

        <jhi-file-upload accept="['.xlsx']" (complete)="complete($event)"></jhi-file-upload>
        <button mat-raised-button (click)="openExamen()" color="primary">Nouvel examen</button>
    </div>

    <div class="a-content" [@stagger]="searchStr$.length">
        <div class="a-card" @fadeInUp *ngFor="let item of searchStr$">
            <div class="a-subcontent">
                <p class="a-item">{{ item.nom }}</p>
                <p class="a-item">{{ item.code }}</p>
                <p class="a-item">{{ item.type == 'ADMISSIBILITE' ? 'Admissibilité' : 'Admissible' }}</p>
            </div>

            <div class="a-actions" (click)="$event.stopPropagation();">
                <a class="bt-item text-secondary" mat-icon-button type="button"
                    [routerLink]="['/examen', item.id]">
                    <mat-icon>visibility</mat-icon>
                </a>

                <button class="bt-item text-secondary" mat-icon-button type="button" (click)="openExamen(item)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button class="bt-item text-secondary" mat-icon-button type="button" (click)="deleteExamen(item)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
