.a-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.a-container .a-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0px;
}
.a-container .a-header .title {
  position: relative;
  font-size: 2em;
  color: blue;
  font-family: sans-serif;
  padding-left: 10px;
  transition: .5px ease-in;
}
.a-container .a-header .title::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -5px;
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.5);
  transition: .5s ease-out;
}
.a-container .a-header .title:hover {
  color: green;
}
.a-container .a-header .title:hover:after {
  left: 0px;
  background: rgba(0, 0, 255, 0.5);
}
.a-container .a-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.a-container .a-content .a-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  transition: .5s ease-in-out;
}
.a-container .a-content .a-card:hover {
  box-shadow: 0px 0px 20px gray;
}
.a-container .a-content .a-card .a-subcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 80%;
}
.a-container .a-content .a-card .a-subcontent .a-item {
  font-weight: bold;
  position: relative;
  font-size: 1.5em;
}
.a-container .a-content .a-card .a-subcontent .a-item::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50%;
  left: 25%;
  bottom: -2px;
  border-radius: 5px;
  background: linear-gradient(to right, blue, green);
  transition: .5s ease-in-out;
}
.a-container .a-content .a-card .a-subcontent .a-item:hover:after {
  position: absolute;
  height: 5px;
  left: 0px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, green, blue);
}
.a-container .a-content .a-card .a-actions {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 20%;
}
.a-container .a-content .a-card .a-actions .bt-item {
  transition: .5s ease-in-out;
}
.a-container .a-content .a-card .a-actions .bt-item:hover {
  transform: scale(2);
}
