<div fxLayout="column">
    <div fxFlex="grow">
        <div class="flex items-center" class=" p-3">
            <jhi-path [crumbs]="['examenDecDscApp.diplomeElementaire.home.title']"></jhi-path>

            <div class="float-left mr-5">
                <jhi-file-upload accept="['.xlsx']"
                                (complete)="complete($event)"></jhi-file-upload>
            </div>

            <button (click)="openDiplomeElementaire()"
                    class="ltr:ml-1 rtl:mr-1"
                    fxFlex="none"
                    fxHide.gt-xs
                    mat-mini-fab
                    color="primary"
                    type="button">
                <mat-icon>add</mat-icon>
            </button>

            <button (click)="openDiplomeElementaire()"
                    fxFlex="none"
                    fxHide.xs
                    mat-raised-button class="normal-height">
                <mat-icon>add</mat-icon>
                <span jhiTranslate="examenDecDscApp.diplomeElementaire.table.add">Ajouter</span>
            </button>
        </div>
    </div>

    <jhi-diplome-elementaire-data-table (openDiplomeElementaire)="openDiplomeElementaire($event)"
                    (deleteDiplomeElementaire)="deleteDiplomeElementaire($event)"
                    [columns]="tableColumns"
                    [data]="tableData"
                    [searchStr]="searchStr$ | async"></jhi-diplome-elementaire-data-table>
</div>
