<div class="n-container">
    <div class="n-content" *ngIf="result">
        <div class="n-card" [@stagger]="result?.length"
            *ngFor="let item of result">
            <div class="n-head">
                <p class="n-matiere">{{ item.diplome.nom }}</p>
                <p class="n-coef n-coef-color">COEF.</p>
                <p class="n-note n-note-color">NOTE/20</p>
            </div>
            <div class="n-body" @fadeInRight>
                <div class="n-section">
                    <h5 class="n-ecrite">Ecrit</h5>
                    <div>
                        <div class="n-epreuve" *ngFor="let note of item.ecrite.parents">
                            <p class="n-matiere">{{ note.epreuve.nom }}</p>
                            <p class="n-coef n-coef-color">{{ note.epreuve.coef }}</p>
                            <p class="n-note n-note-color">{{ showNote ? note.note : '-' }}</p>
                        </div>
                    </div>
                </div>
                <div class="n-section" *ngIf="item.orale.parents.length > 0">
                    <h5 class="n-orale">Orale</h5>
                    <div>
                        <div class="n-epreuve" *ngFor="let note of item.orale.parents">
                            <p class="n-matiere">{{ note.epreuve.nom }}</p>
                            <p class="n-coef n-coef-color">{{ note.epreuve.coef }}</p>
                            <p class="n-note n-note-color">{{ showNote ? note.note : '-' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="n-foot">
                <p>MOYENNE GENERALE</p>
                <p class="n-note n-note-color">{{ item.mean }}</p>
            </div>
        </div>
    </div>
</div>

