.n-content {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}
.n-content .n-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px;
  overflow: hidden;
  margin: 10px 0px;
}
.n-content .n-card .n-head {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
.n-content .n-card .n-head p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  font-size: 1.5em;
  width: 100px;
  padding: 0px 5px;
  border-left: 1px solid black;
  margin: 0px;
}
.n-content .n-card .n-head p:first-child {
  flex-grow: 2;
  border-left: none;
}
.n-content .n-card .n-body .n-section {
  display: flex;
  border-bottom: 1px solid black;
}
.n-content .n-card .n-body .n-section h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0px;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 2em;
  border-right: 1px solid black;
}
.n-content .n-card .n-body .n-section>div {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.n-content .n-card .n-body .n-section .n-epreuve {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
.n-content .n-card .n-body .n-section .n-epreuve:last-child {
  border-bottom: none;
}
.n-content .n-card .n-body .n-section .n-epreuve p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1em;
  width: 100px;
  padding: 0px 5px;
  border-left: 1px solid black;
  margin: 0px;
}
.n-content .n-card .n-body .n-section .n-epreuve p:first-child {
  flex-grow: 2;
  justify-content: flex-start;
  border-left: none;
  padding-left: 10px;
}
.n-content .n-card .n-foot {
  display: flex;
  justify-content: flex-end;
}
.n-content .n-card .n-foot p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 5px;
  margin: 0px;
  height: 50px;
  font-weight: bold;
  font-size: 1.8em;
}
.n-content .n-card .n-foot p:first-child {
  flex-grow: 2;
}


/* COLORS */
.n-ecrite {
  background-color: rgba(0, 0, 255, 0.1);
}
.n-orale {
  background-color: rgba(168, 109, 13, 0.1);
}
.n-coef-color {
  background: rgba(45, 250, 4, 0.363);
}
.n-note-color {
  background: rgba(58, 128, 0, 0.1);
}

/* RESPONSIVE */

@media (max-width: 567px) {
  .n-section {
      flex-direction: column;
  }
  .n-content .n-card .n-body .n-section h5 {
      border-right: none;
      border-bottom: 1px solid black;
      text-align: center;
      width: 100%;
  }
  .n-content .n-card .n-body .n-section .n-epreuve {
      border-left: 0px;
  }
}.n-content {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.n-content .n-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px;
    overflow: hidden;
    margin: 10px 0px;
}
.n-content .n-card .n-head {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}
.n-content .n-card .n-head p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 1.5em;
    width: 100px;
    padding: 0px 5px;
    border-left: 1px solid black;
    margin: 0px;
}
.n-content .n-card .n-head p:first-child {
    flex-grow: 2;
    border-left: none;
}
.n-content .n-card .n-body .n-section {
    display: flex;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.n-content .n-card .n-body .n-section h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0px;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 2em;
    border-right: 1px solid black;
}
.n-content .n-card .n-body .n-section>div {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.n-content .n-card .n-body .n-section .n-epreuve {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}
.n-content .n-card .n-body .n-section .n-epreuve:last-child {
    border-bottom: none;
}
.n-content .n-card .n-body .n-section .n-epreuve p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1em;
    width: 100px;
    padding: 0px 5px;
    border-left: 1px solid black;
    margin: 0px;
}
.n-content .n-card .n-body .n-section .n-epreuve p:first-child {
    flex-grow: 2;
    justify-content: flex-start;
    border-left: none;
    padding-left: 10px;
}
.n-content .n-card .n-foot {
    display: flex;
    justify-content: flex-end;
}
.n-content .n-card .n-foot p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    margin: 0px;
    height: 50px;
    font-weight: bold;
    font-size: 1.8em;
}
.n-content .n-card .n-foot p:first-child {
    flex-grow: 2;
}


/* COLORS */
.n-ecrite {
    background-color: rgba(0, 0, 255, 0.1);
}
.n-orale {
    background-color: rgba(168, 109, 13, 0.1);
}
.n-coef-color {
    background: rgba(45, 250, 4, 0.363);
}
.n-note-color {
    background: rgba(58, 128, 0, 0.1);
}

/* RESPONSIVE */

@media (max-width: 567px) {
    .n-section {
        flex-direction: column;
    }
    .n-content .n-card .n-body .n-section h5 {
        border-right: none;
        border-bottom: 1px solid black;
        text-align: center;
        width: 100%;
    }
    .n-content .n-card .n-body .n-section .n-epreuve {
        border-left: 0px;
    }
}
