.success {
  background-color: rgba(4, 253, 16, 0.5);
  color: black;
  font-weight: bold;
}

.warning {
  background-color: rgba(255, 183, 49, 0.5);
  color: black;
  font-weight: bold;
}

.danger {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
  font-weight: bold;
}

.info {
  background-color: rgba(166, 248, 241, 0.5);
  color: black;
  font-weight: bold;
}
