// .more-vert {
//   position: absolute;
//   top: 0px;
//   right: 0px;
// }

// .file-text {
//   display: inline-block;
//   color: rgb(0, 60, 255);
//   font-weight: bolder;
//   font-size: 10px;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
// }

// .file-text:hover {
//   transform: scale(1.05);
// }

.j-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100vh;
}
.j-container .j-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.j-container .j-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.j-container .j-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
