<div class="j-container" @scaleFadeIn>
    <div class="j-header">
        <div class="j-info">
            <h3 class="j-title">JURY {{ jury.typeJury }}</h3>
            <p>{{ jury.date | date:'dd/MM/yyyy' }}</p>
        </div>

        <div class="j-button">
            <button [disabled]="jury.delibere" mat-raised-button color="primary"
                jhiTranslate="examenDecDscApp.jury.card.delibere.button"
                matTooltip="{{ 'examenDecDscApp.jury.card.delibere.tooltip' | translate }}"
                (click)="delibere()">
            </button>
        </div>
    </div>

    <div class="j-content">
        <div class="j-statistic">
            <jhi-statistique-table [jury]="jury" [tableData]="statistique"></jhi-statistique-table>
        </div>

        <div class="j-chart">
            <jhi-bar-chart *ngIf="barChartData?.length > 1"
                [barChartData]="barChartData"
                [barChartLabels]="barChartLabels">
            </jhi-bar-chart>
        </div>
    </div>

    <div class="j-footer" *ngIf="!jury.delibere">
        <button mat-button color="primary"
                jhiTranslate="examenDecDscApp.jury.card.simulate"
                (click)="simulerRepechage()"></button>

        <button mat-raised-button jhiTranslate="examenDecDscApp.jury.card.repechage"
                (click)="repechager()"></button>
    </div>
</div>
