<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.diplomeElementaire.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content fxLayout="column" class="mt-2">

        <mat-form-field class="py-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.diplomeElementaire.edit.code.label"></mat-label>
            <input required cdkFocusInitial formControlName="code" matInput>
            <mat-error *ngIf="form.get('code').dirty && form.get('code').hasError('required')"
                jhiTranslate="examenDecDscApp.diplomeElementaire.edit.code.error.required"></mat-error>
            <mat-hint jhiTranslate="examenDecDscApp.diplomeElementaire.edit.code.hint"></mat-hint>
        </mat-form-field>

        <mat-form-field class="py-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.diplomeElementaire.edit.nom.label"></mat-label>
            <input required formControlName="nom" matInput>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')"
                jhiTranslate="examenDecDscApp.diplomeElementaire.edit.nom.error.required"></mat-error>
            <mat-hint jhiTranslate="examenDecDscApp.diplomeElementaire.edit.nom.hint"></mat-hint>
        </mat-form-field>

        <mat-form-field class="py-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.diplomeElementaire.edit.examen.label"></mat-label>
            <mat-select required formControlName="examen" [compareWith]="compare">
                <mat-option *ngFor="let examen of examens" [value]="examen">
                {{ examen.nom }}
                </mat-option>
            </mat-select>
            <mat-hint jhiTranslate="examenDecDscApp.diplomeElementaire.edit.examen.hint"></mat-hint>
            <mat-error *ngIf="form.get('examen').dirty && form.get('examen').hasError('required')"
                jhiTranslate="examenDecDscApp.diplomeElementaire.edit.examen.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field class="py-2" appearance="outline" fxFlex="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.diplomeElementaire.edit.diplomes.label"></mat-label>
            <mat-select formControlName="diplomes" multiple [compareWith]="compare">
              <mat-option *ngFor="let diplome of diplomes" [value]="diplome">
                {{ diplome.nom }}
              </mat-option>
            </mat-select>
            <mat-hint jhiTranslate="examenDecDscApp.diplomeElementaire.edit.diplomes.hint"></mat-hint>
            <mat-error *ngIf="form.get('diplomes').dirty && form.get('diplomes').hasError('required')"
                jhiTranslate="examenDecDscApp.diplomeElementaire.edit.diplomes.error.required"></mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">
            <span jhiTranslate="examenDecDscApp.diplomeElementaire.edit.cancel"></span>
            </button>
        <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
            <span jhiTranslate="examenDecDscApp.diplomeElementaire.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
