.header {
  background-color: rgb(244, 255, 255);
}

.footer {
  background-color: rgb(244, 255, 255);
}

.image {
  width: 100%;
  background: url('../../../../content/images/sidebar.jpg') no-repeat left top;
}

