<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.diplomeElementaire.delete.title">Suppression</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<br>
<mat-dialog-content fxLayout="column">
    <mat-progress-bar *ngIf="isDeleting" mode="indeterminate"></mat-progress-bar>
    <p *ngIf="!isDeleting"
        translateValues="{param: 'yusuf'}"
        jhiTranslate="examenDecDscApp.diplomeElementaire.delete.question">Are you sure you want to delete this?
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button cdkFocusInitial mat-button mat-dialog-close type="button">
        <span jhiTranslate="examenDecDscApp.diplomeElementaire.delete.cancel">Cancel</span>
    </button>
    <button color="warn" mat-button [disabled]="isDeleting" (click)="delete()">
        <span jhiTranslate="examenDecDscApp.diplomeElementaire.delete.confirm">Confirm</span>
    </button>
</mat-dialog-actions>
