.e-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.e-container .e-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0px;
  overflow: hidden;
}
.e-container .e-header .e-image {
  width: 150px;
  height: 150px;
}
.e-container .e-header .e-image img {
  width: 100%;
  height: 100%;
}
.e-container .e-header .e-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 200px);
}
.e-container .e-header .e-desc h1 {
  font-weight: bolder;
  font-size: 2em;
  color: rgb(8, 32, 250);
  transition: .5s ease-in-out;
}
.e-container .e-header .e-desc h1:hover {
  transform: scale(1.1);
}
.e-container .e-header .e-desc p {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding: 1px 2px;
  transition: .5s ease-in-out;
}
.e-container .e-header .e-desc:hover p {
  transform: scale(1.1);
}
.e-container .e-content {
  width: 100%;
}

