<div @fadeInRight class="e-container">
    <!-- <div class="e-actions">
        <i id="fa" class="fa fa-arrow-left" aria-hidden="true"></i>
    </div> -->
    <div class="e-header">
        <div class="e-image">
            <img src="./../../../../content/images/examen.image.jpg" alt="simple-image">
        </div>

        <div class="e-desc">
            <h1 jhiTranslate="examenDecDscApp.examen.detail.title"></h1>

            <p>{{ examen?.nom }}</p>

            <button mat-stroked-button class="button" fxHide.lt-sm (click)="openDiplomeElementaire()">
                <span jhiTranslate="examenDecDscApp.examen.detail.add"></span>
                <mat-icon class="mat-18">add</mat-icon>
            </button>
        </div>
    </div>

    <div class="e-content" [@stagger]="diplomeElementaires?.length">
        <jhi-diplome-elementaire-widget [diplomeElementaire]="diplomeElementaire"
                                    (openDiplomeElementaire)="openDiplomeElementaire($event)"
                                    (deleteDiplomeElementaire)="deleteDiplomeElementaire($event)"
                                    *ngFor="let diplomeElementaire of diplomeElementaires"
                                    class="mx-1" @fadeInRight>
                                    </jhi-diplome-elementaire-widget>
    </div>
</div>
