.a-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.a-container .a-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.a-container .a-header .title {
  position: relative;
  font-size: 2em;
  color: blue;
  font-family: sans-serif;
  padding-left: 10px;
  transition: .5px ease-in;
}
.a-container .a-header .title::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -5px;
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.5);
  transition: .5s ease-out;
}
.a-container .a-header .title:hover {
  color: green;
}
.a-container .a-header .title:hover:after {
  left: 0px;
  background: rgba(0, 0, 255, 0.5);
}
.a-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.a-card {
  position: relative;
  border-radius: 5px;
  width: 300px;
  min-height: 250px;
  background: #fff;
  cursor: pointer;
  margin: 30px 10px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.a-card .title {
  position: relative;
  font-size: 2em;
  transition: .5s;
  font-weight: 200;
  margin-bottom: 10px;
  transition: .5s ease-in-out;
}
.a-card:hover .title {
  font-weight: bold;
  word-spacing: 2px;
}
.a-card .a-subcontent {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
}
.a-card .a-subcontent .a-info {
  flex-basis: 100%;
  transition: .5s ease-in-out;
}
.a-card:hover .a-subcontent .a-info {
  flex-basis: calc(100% - 75px);
}
.a-card .a-subcontent .a-actions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.a-card:hover .a-subcontent .a-actions {
  right: -10px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.a-card .a-subcontent .a-actions .btn-icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: transform 0.5s;
}

.a-card .a-subcontent .a-actions .btn-icon:hover {
  transform: translateX(-10px);
}

.a-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a-label {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: blue;
  height: 50px;
  padding-left: 20px;
  padding-bottom: 1px;
}

.a-label::before {
  content: '';
  position: absolute;
  bottom: -0px;
  left: 0px;
  width: 50%;
  height: 5px;
  transform: translateX(-10px) translateY(-5px);
  background: rgba(38, 255, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.a-value {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: green;
  height: 50px;
  padding-left: 20px;
  padding-bottom: 1px;
}

.a-value::after {
  content: '';
  position: absolute;
  top: -0px;
  right: -5px;
  width: 50%;
  height: 5px;
  transform: translateX(-10px) translateY(-5px);
  background: rgba(29, 25, 250, 0.2);
  transition: 0.5s ease-in-out;
}

.a-item:hover .a-label::before {
  background: rgba(29, 25, 250, 0.2);
  width: 100%;
}

.a-item:hover .a-value::after {
  background: rgba(38, 255, 0, 0.2);
  width: 100%;
}

