<div class="a-container">
    <div class="a-header">
        <h2 class="title">Liste de toutes les nationalités</h2>

        <button mat-raised-button (click)="openNationalite()" color="primary">
            <mat-icon class="mat-18">add</mat-icon>
            <span>Ajouter</span>
        </button>
    </div>

    <div class="a-content" [@stagger]="nationalites.length">
        <div class="a-card" @fadeInRight (click)="openNationalite(item)" *ngFor="let item of nationalites">
            <h3 class="title">{{ item.libelle }}</h3>

            <div class="a-subcontent">
                <div class="a-info">
                    <div class="a-item">
                        <h6 class="a-label">Code</h6>
                        <span class="a-value">{{ item.code }}</span>
                    </div>
                    <div class="a-item">
                        <h6 class="a-label">Libellé</h6>
                        <span class="a-value">{{ item?.libelle }}</span>
                    </div>
                </div>
                <div class="a-actions" (click)="$event.stopPropagation()">
                    <button class="btn-icon" (click)="openNationalite(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn-icon" (click)="deleteNationalite(item)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
