<div fxLayout="column">
  <div fxFlex="grow">
    <div class="flex items-center" class=" p-3">
      <jhi-path [crumbs]="['examen.home.title']"></jhi-path>

      <button (click)="openExamen()"
            class="ltr:ml-1 rtl:mr-1"
            fxFlex="none"
            fxHide.gt-xs
            mat-mini-fab
            color="primary"
            type="button">
        <mat-icon>add</mat-icon>
      </button>

      <button (click)="openExamen()"
            fxFlex="none"
            fxHide.xs
            mat-raised-button class="normal-height">
        <mat-icon>add</mat-icon>
        <span jhiTranslate="examenDecDscApp.examen.table.add">Ajouter</span>
      </button>
    </div>
  </div>

  <div fxFlex="grow" class="-mt-100 pt-0 overflow-hidden flex">

    <div class="radius-10 p-3">
      <jhi-examen-data-table (openExamen)="openExamen($event)"
                          (deleteExamen)="deleteExamen($event)"
                          [columns]="tableColumns"
                          [data]="tableData"
                          [searchStr]="searchStr$ | async"></jhi-examen-data-table>
    </div>
  </div>
</div>
