<jhi-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Dashboard</h1>
    <button mat-flat-button color="warn">Latest Reports</button>
  </mat-toolbar>

  <div class="charts-wrapper">
    <div class="chart">
      <jhi-visits-chart [visitsChartData]="visitsChartData$ | async"></jhi-visits-chart>
    </div>
    <div class="chart">
      <jhi-performance-chart [performanceChartData]="performanceChartData$ | async"></jhi-performance-chart>
    </div>
    <div class="chart">
      <jhi-server-chart [serverChartData]="serverChartData$ | async"></jhi-server-chart>
    </div>
    <div class="chart">
      <jhi-revenue-chart [revenueCharData]="revenueChartData$ | async"></jhi-revenue-chart>
    </div>
  </div>

  <jhi-daily-line-chart [dailyLineChartData]="dailyLineChartData$ | async"></jhi-daily-line-chart>

  <jhi-project-stat-chart [projectsStatsData]="projectsStatsData$ | async"></jhi-project-stat-chart>

  <jhi-support-requests [supportRequestData]="supportRequestData$ | async"></jhi-support-requests>

  <jhi-footer></jhi-footer>
</jhi-layout>
