<div class="a-container">
    <div class="a-header">
        <h2 class="title">Liste des diplômes enregistrés</h2>
        <button color="primary" mat-raised-button (click)="openDiplome()">Ajouter</button>
    </div>

    <div class="a-content">
        <div class="a-card" (click)="openDiplome(item)" *ngFor="let item of diplomes">
            <button (click)="$event.stopPropagation(); diplome=item"
                [matMenuTriggerFor]="diplomeMenu"
                mat-icon-button
                type="button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <i id="fa" class="fa fa-graduation-cap" aria-hidden="true"></i>
            <h3>{{ item.nom }}</h3>
        </div>
    </div>
</div>

<mat-menu #diplomeMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="openDiplome(diplome)">
        <mat-icon>edit</mat-icon>
        <span>Modifier</span>
    </button>

    <button mat-menu-item (click)="deleteDiplome(diplome)">
        <mat-icon>delete_forever</mat-icon>
        <span>Supprimer</span>
    </button>
</mat-menu>
