.a-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.a-container .a-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.a-container .a-header .title {
  position: relative;
  font-size: 2em;
  color: blue;
  font-family: sans-serif;
  padding-left: 10px;
  transition: .5px ease-in;
}
.a-container .a-header .title::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -5px;
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.5);
  transition: .5s ease-out;
}
.a-container .a-header .title:hover {
  color: green;
}
.a-container .a-header .title:hover:after {
  left: 0px;
  background: rgba(0, 0, 255, 0.5);
}
.a-container .a-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.a-container .a-content .a-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px gray;
  color: black;
  z-index: 1;
  overflow: hidden;
  margin: 20px;
}
.a-container .a-content .a-card::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.2);
  clip-path: polygon(0 59%, 100% 84%, 100% 100%, 0% 100%);
  transition: .5s ease-in-out;
  z-index: -1;
}
.a-container .a-content .a-card:hover:before {
  clip-path: polygon(0 83%, 100% 66%, 100% 100%, 0% 100%);
  background: rgba(27, 27, 68, 0.2);
}
.a-container .a-content .a-card h3 {
  font-size: 2em;
  color: blue;
  font-weight: bold;
}
.a-container .a-content .a-card #fa {
  font-size: 50px;
  height: 50px;
}
.a-container .a-content .a-card button {
  position: absolute;
  right: 5px;
  top: 5px;
}
