.s-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.s-container .s-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-right: 10px;
}
.s-container .s-header .s-info .h-item {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
  padding: 0px 10px;
  font-size: 1.5em;

  .h-label {
    color: blue;
    font-weight: bold;
  }
  .h-value {
    color: green;
  }
}
.s-container .s-header .s-button {
  position: absolute;
  right: -30px;
  top: 0px;
  transition: .5s ease-in;
}
.s-container .s-header .s-button:hover {
  transform: scale(2);
}

jhi-jury-card {
  cursor: pointer;
}
