<div class="s-container">
    <div class="s-header">
        <div class="s-info">
            <h1 class="session-title">{{ session.libelle }}</h1>

            <div class="h-item">
                <h5 class="h-label" jhiTranslate="examenDecDscApp.session.abstract.dateCreation"></h5>
                <h5 class="h-value">{{ session.dateCreation | date:'dd/MM/yyyy' }}</h5>
            </div>

            <div class="h-item" *ngIf="session.ouverte">
                <h5 class="h-label" jhiTranslate="examenDecDscApp.session.abstract.dateOuverture"></h5>
                <h5 class="h-value">{{ session.dateOuverture | date:'dd/MM/yyyy' }}</h5>
            </div>

            <div class="h-item" *ngIf="session.cloture">
                <h5 class="h-label" jhiTranslate="examenDecDscApp.session.abstract.dateCloture"></h5>
                <h5 class="h-value">{{ session.dateCloture | date:'dd/MM/yyyy' }}</h5>
            </div>

            <div class="session-info">
                <mat-icon class="mat-18 info-icon">info</mat-icon>
                <span *ngIf="!session.ouverte && !session.cloture" jhiTranslate="examenDecDscApp.session.abstract.info.noOpened"></span>
                <span *ngIf="session.ouverte && !session.cloture" jhiTranslate="examenDecDscApp.session.abstract.info.noClosed"></span>
                <span *ngIf="session.cloture" jhiTranslate="examenDecDscApp.session.abstract.info.closed"></span>
            </div>
        </div>

        <div class="s-jury">
            <div [@stagger]="juries.length" gdColumns="1fr 1fr" gdColumns.lt-md="1fr">
                <div @fadeInUp class="p-2" *ngFor="let jury of juries" gdColumn="1" gdColumn.lt-md="1">
                    <jhi-jury-card [jury]="jury"
                        [isSelected]="jurySelected && jurySelected.id==jury.id"
                        (selectJury)="jurySelected=$event"
                        (delibereJury)="delibereJury($event)"
                        (openJury)="openJury($event)"
                        (deleteJury)="deleteJury($event)">
                    </jhi-jury-card>
                </div>
            </div>
        </div>

        <button class="s-button" [matMenuTriggerFor]="sessionMenu" color="primary" mat-icon-button
            matTooltip="{{ 'examenDecDscApp.session.abstract.settings.tooltip' | translate }}">
            <mat-icon class="mat-18">settings</mat-icon>
        </button>
    </div>

    <mat-tab-group class="s-content" *ngIf="session" @fadeInRight
        mat-stretch-tabs dynamicHeight animationDuration="100ms">
        <mat-tab label="List des candidatures">
            <ng-template matTabContent>
                <jhi-candidature-table [session]="session"></jhi-candidature-table>
            </ng-template>
        </mat-tab>

        <mat-tab label="Importation de notes">
            <ng-template matTabContent>
                <jhi-note-table [session]="session"></jhi-note-table>
            </ng-template>
        </mat-tab>

        <mat-tab label="Administration de jury">
            <ng-template matTabContent>
                <mat-tab-group animationDuration="100ms" *ngIf="jurySelected"
                    mat-stretch-tabs dynamicHeight animationDuration="100ms">
                    <mat-tab label="Tableau statistique">
                        <ng-template matTabContent>
                            <jhi-jury-widget [jury]="jurySelected"></jhi-jury-widget>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Candidat">
                        <ng-template matTabContent>
                            <jhi-jury-result [jury]="jurySelected" (onSelect)="onSelect($event)"></jhi-jury-result>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>


<mat-menu #sessionMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="openJury()" *ngIf="session.cloture && !session.locked"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.jury.tooltip' | translate }}">
        <mat-icon>add</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.abstract.settings.jury.button"></span>
    </button>

    <!-- GENERATION ANONYME NUMBER -->
    <button *ngIf="!session.anonymeNumberGenerated && !session.ouverte && !session.cloture && !session.locked"
        (click)="generateAnonymeNumber(session)" mat-menu-item
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.generatorAnonymeNumber.tooltip' | translate }}">
        <mat-icon class="mat-18">autorenew</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.abstract.settings.generatorAnonymeNumber.button"></span>
    </button>

    <!-- OUVERTURE ACTIONS -->
    <button *ngIf="!session.ouverte" [disabled]="session.locked || session.cloture"
        (click)="openSession(session)"
        mat-menu-item jhiTranslate="examenDecDscApp.session.abstract.settings.ouverte.button.0"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.ouverte.tooltip.0' | translate }}">
    </button>
    <button *ngIf="session.ouverte" [disabled]="session.locked || session.cloture"
        (click)="closeSession(session)"
        mat-menu-item jhiTranslate="examenDecDscApp.session.abstract.settings.ouverte.button.1"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.ouverte.tooltip.1' | translate }}">
    </button>

    <!-- CLOTURE ACTIONS -->
    <button *ngIf="!session.cloture" [disabled]="session.ouverte || session.locked"
        (click)="clotureSession(session)"
        mat-menu-item jhiTranslate="examenDecDscApp.session.abstract.settings.cloture.button.0"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.cloture.tooltip.0' | translate }}">
    </button>
    <!-- <button *ngIf="!session.cloture" [disabled]="session.ouverte || session.locked"
        (click)="unClotureSession(session)"
        mat-menu-item jhiTranslate="examenDecDscApp.session.abstract.settings.cloture.button.1"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.cloture.tooltip.1' | translate }}">
    </button> -->

    <button *ngIf="!session.locked" color="primary" (click)="toggleLock(session)"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.locked.button.0' | translate }}"
        mat-menu-item>
        <mat-icon>lock</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.abstract.settings.locked.button.0"></span>
    </button>
    <button *ngIf="session.locked" color="accent" (click)="toggleLock(session)"
        matTooltip="{{ 'examenDecDscApp.session.abstract.settings.locked.button.1' | translate }}"
        mat-menu-item>
        <mat-icon>lock_open</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.abstract.settings.locked.button.1"></span>
    </button>
</mat-menu>
