<mat-card @fadeInRight class="special-style">
    <div class="p-gutter"
        gdColumns="1fr" gdGap="16px">

        <div gdColumn="1">
            <h6 jhiTranslate="examenDecDscApp.jury.detail.title"></h6>
            <p>{{ jury.typeJury }}</p>

            <button mat-raised-button fxHide.lt-md (click)="openDiplomeElementaire()">
                <span jhiTranslate="examenDecDscApp.jury.detail.add"></span>
            </button>
        </div>

        <div gdColumn="1">
            <jhi-diplome-elementaire-widget [diplomeElementaire]="diplomeElementaire"
                (openDiplomeElementaire)="openDiplomeElementaire($event)"
                (deleteDiplomeElementaire)="deleteDiplomeElementaire($event)"
                *ngFor="let diplomeElementaire of diplomeElementaires"
                class="mx-1">
            </jhi-diplome-elementaire-widget>
        </div>

    </div>
  </mat-card>
