.special-style {
  // background: rgba(53, 247, 5, 0.3);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
}

.float-top-right {
  position: absolute;
  top: -10px;
  right: -10px;
}

.bgc {
  background-color: gray;
}

.content {
  width: 100%;
}

.successful {
  background-color: aquamarine;
}

.unsuccessful {
  background-color: rgb(248, 151, 151);
}

.candidature-waiting {
  background-color: rgba(0, 0, 255, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
}

.candidature-valid {
  background-color: rgba(0, 128, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.5);
}

.candidature-reject {
  background-color: rgba(255, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.session-open {
  background-color: rgba(0, 0, 255, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
}

.session-close {
  background-color: rgba(128, 128, 128, 0.05);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}

.c-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.c-container .c-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 10px 0px;
  padding-bottom: 10px;
}
.c-container .c-header .c-nice-card {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  background: rgba(4, 4, 230, 0.2);
  box-shadow: 0px 0px 10px rgba(17, 11, 11, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
}
.c-container .c-header .c-nice-card:hover {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(13, 13, 46, 0.5);
}
.c-container .c-header .c-nice-card .c-label {
  font-size: 2em;
  color: blue;
  font-weight: 200;
}
.c-container .c-header .c-nice-card .c-value {
  font-size: 1.5em;
  color: green;
  font-weight: bold;
}
.c-container .c-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-container .c-content .c-candidature-widget {
  display: flex;
  flex-direction: column;
  align-items: center;

  // jhi-note-widget {
  //   align-self: stretch;
  // }
}
