<div class="c-container">
    <div class="c-header" [@stagger]="5">
        <div @fadeInRight class="c-nice-card" [ngStyle]="{'background-color': session?.cloture?'gray':'white'}">
            <p class="c-label" jhiTranslate="examenDecDscApp.candidature.widget.session.title"></p>
            <p class="c-value">{{ session?.libelle }}</p>
        </div>

        <div @fadeInRight *ngIf="candidatureStat" class="c-nice-card" [ngClass]="candidatureStat.class">
            <p class="c-label" jhiTranslate="examenDecDscApp.candidature.widget.session.valide.label"></p>
            <p class="c-value">{{ candidatureStat?.content | translate }}</p>
        </div>

        <div @fadeInRight class="c-nice-card">
            <p class="c-label" jhiTranslate="examenDecDscApp.candidature.widget.session.numeroTable.label"></p>
            <p class="c-value numero-table">{{ candidature?.numeroTable ? candidature?.numeroTable : ('examenDecDscApp.candidature.widget.session.numeroTable.VOID' | translate) }}</p>
        </div>

        <div @fadeInRight class="shadow c-nice-card" [ngClass]="sessionStat?.class">
            <p class="c-label" jhiTranslate="examenDecDscApp.candidature.widget.session.cloture.label"></p>
            <p class="c-value">{{ sessionStat?.content | translate }}</p>
            <p *ngIf="session?.cloture" class="c-value">{{ session?.dateCloture | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>

    <div class="c-content">
        <!-- <div class="c-candidature-widget" *ngIf="myCandidature && !candidatAbstract">
            <jhi-note-widget *ngFor="let diplomeElementaireNote of diplomeElementaireNotes"
                [disabled]="candidature?.valide"
                [diplomeElementaire]="diplomeElementaireNote.diplomeElementaire"
                [notes]="diplomeElementaireNote.notes"
                [session]="myCandidature.session">
            </jhi-note-widget>

            <button mat-raised-button color="primary" (click)="onValidate()"
                [hidden]="session?.cloture || candidature?.valide"
                matTooltip="{{ 'examenDecDscApp.candidature.widget.validate.tooltip' | translate }}"
                jhiTranslate="examenDecDscApp.candidature.widget.validate.button">
                <span>Valider ma candidature</span>
            </button>
        </div>

        <div *ngIf="candidatAbstract">
            <jhi-note-static-widget *ngFor="let meanAbstract of candidatAbstract.meanAbstracts"
                [meanAbstract]="meanAbstract">
            </jhi-note-static-widget>
        </div> -->


        <!-- CANDIDATURE ALREADY VALID -->
        <ng-container *ngIf="candidature.valide; else elseTemplate">
            <ng-container *ngIf="candidatAbstract; else elseTemplate">
                <jhi-note-static-widget [candidatAbstract]="candidatAbstract"></jhi-note-static-widget>
            </ng-container>
            <ng-template #elseTemplate>
                <jhi-note-static-widget *ngIf="myCandidature" [myCandidature]="myCandidature"></jhi-note-static-widget>
            </ng-template>

        </ng-container>

        <!-- CANDIDATURE NOT ALREADY VALIDED / CONFIGURATION -->
        <ng-template #elseTemplate>
            <jhi-note-widget *ngFor="let diplomeElementaireNote of diplomeElementaireNotes"
                [disabled]="candidature?.valide"
                [diplomeElementaire]="diplomeElementaireNote.diplomeElementaire"
                [notes]="diplomeElementaireNote.notes"
                [session]="myCandidature.session">
            </jhi-note-widget>

            <button mat-raised-button color="primary" (click)="onValidate()"
                [hidden]="session?.cloture || candidature?.valide"
                matTooltip="{{ 'examenDecDscApp.candidature.widget.validate.tooltip' | translate }}"
                jhiTranslate="examenDecDscApp.candidature.widget.validate.button">
                <span>Valider ma candidature</span>
            </button>
        </ng-template>

    </div>
</div>
