.btn-repecher {
  position: relative;
  top: 0px;
  right: 0px;
}

.title {
  font-weight: bold;
  color: rgb(25, 0, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.selected {
  box-shadow: 0px 0px 20px green;
}

.disbled {
  background-color: rgba(128, 128, 128, 0.1);
}
