<mat-card *ngIf="jury" matRipple (click)="selectJury.emit(jury)">
    <button (click)="$event.stopPropagation();"
            [matMenuTriggerFor]="juryMenu"
            mat-icon-button class="more float-right"
            type="button" [hidden]="jury.delibere">
            <mat-icon>more_vert</mat-icon>
    </button>

    <mat-card-content>
        <h1 class="title">JURY {{ jury.typeJury }}</h1>
        <p>
            <span jhiTranslate="examenDecDscApp.jury.card.content.date"></span>
            {{ jury.date | date:'dd/MM/yyyy' }}
        </p>

        <p>{{ ('examenDecDscApp.jury.card.content.delibere.' + (jury.delibere ? 'YES' : 'NO')) | translate }}</p>
    </mat-card-content>
</mat-card>

<mat-menu #juryMenu="matMenu" xPosition="before" yPosition="below">
    <button [disabled]="jury.delibere" mat-menu-item color="primary" class="btn-repecher"
        jhiTranslate="examenDecDscApp.jury.card.delibere.button"
        matTooltip="{{ 'examenDecDscApp.jury.card.delibere.tooltip' | translate }}"
        (click)="delibereJury.emit(jury)">
    </button>

    <button mat-menu-item (click)="openJury.emit(jury)">
        <mat-icon>edit</mat-icon>
        <span jhiTranslate="examenDecDscApp.jury.card.update"></span>
    </button>

    <button [disabled]="jury.delibere" mat-menu-item (click)="deleteJury.emit(jury)">
        <mat-icon>delete_forever</mat-icon>
        <span jhiTranslate="examenDecDscApp.jury.card.delete"></span>
    </button>
</mat-menu>


