<div>
    <!--========== HEADER ==========-->
    <jhi-header class="header"></jhi-header>

    <!--========== NAV ==========-->
    <jhi-sidebar class="nav" id="navbar"></jhi-sidebar>

    <!--========== CONTENTS ==========-->
    <div class="root">
        <section>
            <router-outlet></router-outlet>
        </section>
    </div>

</div>
