<form (ngSubmit)="recover()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.repechage.common.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isRecovering" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog pr-2">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px"
                class="mt-2 mb-3"
                *ngFor="let repechage of repechages; let i=index">

                <p fxFlex="calc(40% - 5px)">{{ repechage.diplomeElementaire.nom }}</p>
                <mat-form-field class="px-2" appearance="outline" fxFlex="calc(60% - 5px)">
                    <mat-label jhiTranslate="examenDecDscApp.repechage.common.seuil.label"></mat-label>
                    <input [(ngModel)]="repechage.seuil" name="seuil[i]" matInput max="10" min="0">
                    <mat-hint jhiTranslate="examenDecDscApp.repechage.common.seuil.hint"></mat-hint>
                </mat-form-field>

            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button cdkFocusInitial mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.repechage.common.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="isRecovering">
        <span jhiTranslate="examenDecDscApp.repechage.common.register">Register</span></button>
    </mat-dialog-actions>
</form>
