._container {
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 10px;
  padding: 2px 3px 2px 2px;
  background-color: rgba(216, 214, 214, 0.185);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}
