<button mat-button type="button" color="primary" (click)="onClick()">
    <mat-icon>folder</mat-icon>
    <span [jhiTranslate]="text"></span>
</button>
<br/>
<ul>
    <li *ngFor="let file of files" [@fadeInOut]="file.state">
          <span id="file-label">
          {{file.data.name}}
          <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
          <mat-icon>cancel</mat-icon></a>
          </span>
    </li>
    <li *ngIf="error" @fadeInOut>
        <span class="text-warning">{{ error }}</span>
    </li>
</ul>
<input type="file" id="fileSelector" name="fileSelector" multiple="multiple"
    accept="{{accept}}" style="display:none;"/>
