<form (ngSubmit)="simulate()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.repechage.simulator.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSimulating" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog pr-2">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px"
                class="mt-2 mb-3" *ngFor="let repechage of repechages; let i=index">

                <p fxFlex="calc(40% - 5px)">{{ repechage.diplomeElementaire.nom }} ({{ repechage.diplomeElementaire.code }})</p>
                <mat-form-field class="px-2" appearance="outline" fxFlex="calc(60% - 5px)">
                    <mat-label jhiTranslate="examenDecDscApp.repechage.simulator.seuil.label"></mat-label>
                    <input [(ngModel)]="repechage.seuil" [ngModelOptions]="{standalone: true}" matInput max="10" min="0" type="number">
                    <mat-hint jhiTranslate="examenDecDscApp.repechage.simulator.seuil.hint"></mat-hint>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.repechage.simulator.cancel"></span>
        </button>
      <button cdkFocusInitial color="primary" mat-button type="submit" [disabled]="isSimulating">
        <span jhiTranslate="examenDecDscApp.repechage.simulator.simulate">Simulate</span></button>
    </mat-dialog-actions>
</form>
