.float-top-right {
  position: absolute;
  top: -10px;
  right: -10px;
}

.note {
  height: 75px;
}

.choice {
  color: black;
  display: inline;
  border-radius: 10px;
  font-size: 25px;
  background-image: linear-gradient(to right, rgba(0, 162, 255, 0.25), rgba(0, 0, 255, 0.25));
}

.header {
  transform: translate(0px, 100px);
}

.float-top-right {
  position: absolute;
  top: -10px;
  right: -10px;
}

.header {
  transform: translate(0px, 100px);
}

.note {
  height: 75px;
}

.diplome-elementaire {
  height: auto;
}

.n-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(131, 158, 161, 0.2);
  border-radius: 10px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.n-container::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 25%;
  bottom: -7px;
  margin: 0px auto;
  // left: 35.5%;
  border-radius: 10px;
  background: rgba(0, 0, 255, 0.2);
  transition: .6s ease-in;
}
.n-container:hover:after {
  width: 1%;
  // left: calc(50% + 2.5px);
}
.n-container .n-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.n-container .n-content .n-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  width: 300px;
  text-align: center;

  .n-title {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  .n-label {
    font-size: 1.5em;
    color: blue;
  }
  .n-value {
    font-size: 2em;
    color: green;
    font-weight: 400;
  }
}
.n-container .n-content .n-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 5px;
  flex-grow: 2;
}
.n-container .n-content .n-notes .n-note {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  width: 200px;
  min-height: 100px;
  transition: 1s ease-in;
  .n-label {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-align: center;
    padding: 10px;
  }
  .n-value {
    font-weight: 400;
    font-size: 2em;
    color: green;
    text-align: center;
  }
}
.n-container .n-content .n-notes .n-note:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px gray;
}
@media screen and (max-width: 700px) {
  .n-container .n-content {
    flex-direction: column;
  }
}

