<div class="n-container">
    <div class="n-content">
        <div class="n-main" [formGroup]="form">
            <p class="n-title" [jhiTranslate]="message"></p>

            <mat-form-field appearance="outline">
                <mat-label jhiTranslate="examenDecDscApp.note.widget.typeCandidature.label"
                    matTooltip="{{ 'examenDecDscApp.note.widget.typeCandidature.tooltip' | translate }}"></mat-label>

                <mat-select formControlName="typeCandidature">
                    <mat-option *ngFor="let typeCandidature of typeCandidatures" [value]="typeCandidature">
                        {{ 'examenDecDscApp.note.widget.typeCandidature.' + typeCandidature | translate }}
                    </mat-option>
                </mat-select>
                <mat-hint jhiTranslate="examenDecDscApp.note.widget.typeCandidature.hint"></mat-hint>
            </mat-form-field>
        </div>

        <div class="n-notes" [@stagger]="notes.length">
            <div @fadeInRight class="n-note" *ngFor="let note of notes">
                <p class="n-label">
                    <span jhiTranslate="examenDecDscApp.note.widget.epreuve"></span>: {{ note?.epreuve?.nom }}
                </p>
                <p class="n-value">{{ getValueNote(note) }}</p>
            </div>
        </div>
    </div>
</div>

