<div @fadeInRight class="my-1">
    <div gdColumns="1fr 1fr 1fr"
        gdColumns.lt-sm="1fr"
        class="border bg-white rounded -mt-10 pb-5" style="margin-top: -20px;">

        <div class="center px-1 mb-3" [formGroup]="form" gdColumn="1 / 2" gdColumn.lt-sm="1">
            <p class="font-20 text-primary mt-2" [jhiTranslate]="message"></p>

            <mat-form-field appearance="outline">
                <mat-label jhiTranslate="examenDecDscApp.note.widget.typeCandidature.label"
                    matTooltip="{{ 'examenDecDscApp.note.widget.typeCandidature.tooltip' | translate }}"></mat-label>
                <mat-select formControlName="typeCandidature">
                    <mat-option *ngFor="let typeCandidature of typeCandidatures" [value]="typeCandidature">
                        {{ 'examenDecDscApp.note.widget.typeCandidature.' + typeCandidature | translate }}
                    </mat-option>
                </mat-select>
                <mat-hint jhiTranslate="examenDecDscApp.note.widget.typeCandidature.hint"></mat-hint>
            </mat-form-field>
        </div>

        <div  gdColumn="2 / -1" gdColumn.lt-sm="1">
            <div gdColumns="1fr 1fr" gdColumns.lt-sm="1fr">
                <div gdColumn="1 span" gdColumn.lt-sm="1" *ngFor="let note of notes"
                    class="m-1 note border rounded bg-animate">
                    <p class="border-bottom">
                        <span jhiTranslate="examenDecDscApp.note.widget.epreuve"></span>: {{ note?.epreuve?.nom }}
                    </p>
                    <span>{{ getValueNote(note) }}</span>
                </div>
            </div>
        </div>

    </div>
</div>



