.special-style {
  background: rgba(53, 247, 5, 0.3);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
}

.float-top-right {
  position: absolute;
  top: -10px;
  right: -10px;
}

.diplome-elementaire {
  border: 1px dashed black;
  border-radius: 10px;
}

.image-diplome-elementaire {
  background: url('./../../../../content/images/certificate.jpg');
  background-size: 100px 150px;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}

.diplome-elementaire-content {
  border-left: 1px dashed black;
}

.diplome-elementaire-nom {
  font-size: 20px;
  color: rgb(0, 19, 192);
  border-radius: 5px;
  font-weight: bold;
}

.diplome-dipensateur {
  border: 0.1px dashed black;
  border-radius: 10px;
}

.diplome-dipensateur-item {
  display: inline-block;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.05);
  border-radius: 10px;
  text-align: start;
  margin: 1px;
  padding-left: 3px;
}

.diplome-dipensateur-title {
  text-decoration: underline;
}

// ===== EPREUVE =====
.e-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.e-container .e-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  margin: 5px 0px;
  border-radius: 10px;
}
.e-container .e-card h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  color: green;
  font-weight: bold;
  cursor: pointer;
}
