<div @fadeInRight fxLayout="row" fxFlexAlign="center" class="diplome-elementaire">
    <div fxFlexOffset="5px" fxFlex="150px" class="image-diplome-elementaire"></div>

    <div fxFlex="auto" class="diplome-elementaire-content p-1">

        <div class="p-gutter content"
            gdColumns="1fr 1fr 1fr"
            gdColumns.lt-md="1fr" gdGap="16px">

            <div gdColumn="1 / 2"
                gdColumn.lt-md="1"
                class="pt-md-5 pt-sm-1">

                <p class="diplome-elementaire-nom"
                    (click)="openDiplomeElementaire.emit(diplomeElementaire)">{{ diplomeElementaire.nom }}</p>

                <div class="diplome-dipensateur" *ngIf="diplomeElementaire?.diplomes?.length > 0">
                    <h6 class="diplome-dipensateur-title" jhiTranslate="examenDecDscApp.diplomeElementaire.widget.diplome-dispensateur"></h6>
                    <p @fadeInRight class="diplome-dipensateur-item" *ngFor="let diplome of diplomeElementaire.diplomes">
                        <span>.</span>{{ diplome.nom }}
                    </p>

                </div>

                <button mat-stroked-button class="button" fxHide.lt-md
                        (click)="openEpreuve()">
                        <span jhiTranslate="examenDecDscApp.diplomeElementaire.widget.add"></span>
                        <mat-icon class="mat-18">add</mat-icon>
                </button>

                <button mat-icon-button fxHide.lt-md
                    matTooltip="{{ 'examenDecDscApp.diplomeElementaire.widget.delete' | translate }}"
                    (click)="deleteDiplomeElementaire.emit(diplomeElementaire)">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
            </div>

            <div [@stagger]="epreuves.length" gdColumn="2 / -1" gdColumn.lt-md="1"
                class="e-container">
                <div @fadeInRight *ngFor="let item of epreuves"
                    class="e-card">
                    <h3>{{ item.nom + " (" + item.code + ")" }}</h3>

                    <button class="more-vert" [matMenuTriggerFor]="epreuveMenu"
                        (click)="$event.stopPropagation(); epreuve=item"
                        mat-icon-button
                        fxHide.lt-md
                        type="button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>


<mat-menu #epreuveMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="openEpreuve(epreuve)">
      <mat-icon>edit</mat-icon>
      <span jhiTranslate="examenDecDscApp.epreuve.widget.update">Modifier</span>
    </button>

    <button mat-menu-item (click)="deleteEpreuve(epreuve)">
      <mat-icon>delete_forever</mat-icon>
      <span jhiTranslate="examenDecDscApp.epreuve.widget.delete">Supprimer</span>
    </button>
</mat-menu>
