<div fxLayout="column" fxLayoutAlign="space-between" class="mat-elevation-z8">
    <div class="h-table">
        <table [@stagger]="dataSource.filteredData"
            [dataSource]="dataSource"
            class="w-full"
            fxFlex="auto"
            mat-table
            class="mat-elevation-z8"
            matSort>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.code"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.code }}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.nom"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.type"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.type }}</td>
        </ng-container>

        <ng-container matColumnDef="diplomeElementaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.diplomeElementaire"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.diplomeElementaire?.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th *matHeaderCellDef mat-header-cell> </th>
            <td *matCellDef="let row" [ngClass]="['text-secondary', 'w-10']" mat-cell>
            <button (click)="$event.stopPropagation(); epreuve=row"
                    [matMenuTriggerFor]="epreuveMenu"
                    mat-icon-button
                    type="button">
                <mat-icon>more_vert</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

        <tr (click)="openEpreuve.emit(row)"
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover cursor-pointer"
            mat-row></tr>
        </table>
    </div>

    <div *ngIf="dataSource.filteredData.length === 0"
        @fadeInUp
        fxFlex="auto"
        fxLayout="column"
        fxLayoutAlign="center center">
        <img class="m-5 h-img-no-data" src="./../../../../../content/images/empty-data.png">
        <h2 class="headline m-0 text-center text-sm" jhiTranslate="examenDecDscApp.epreuve.dataTable.no-data"></h2>
    </div>

    <mat-paginator [fxHide]="dataSource.filteredData.length === 0"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    showFirstLastButtons
                    class="sticky bottom-0 left-0 right-0 border-t"
                    fxFlex="none"></mat-paginator>
</div>

<mat-menu #epreuveMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="openEpreuve.emit(epreuve)">
    <mat-icon>edit</mat-icon>
    <span>Modifier</span>
  </button>

  <button mat-menu-item (click)="deleteEpreuve.emit(epreuve)">
    <mat-icon>delete_forever</mat-icon>
    <span>Supprimer</span>
  </button>
</mat-menu>
