<div fxLayout="column" fxLayoutAlign="space-between" class="content">
    <div class="py-3">
        <table [@stagger]="dataSource.filteredData"
              [dataSource]="dataSource"
              fxFlex="auto"
              mat-table>

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.nom }}</td>
          </ng-container>

          <ng-container matColumnDef="candidat">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.candidat"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.candidat }}</td>
          </ng-container>

          <ng-container matColumnDef="admis">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.admis"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.admis }}</td>
          </ng-container>

          <ng-container matColumnDef="pourcentageAdmis">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.pourcentageAdmis"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ round(element.pourcentageAdmis) }}</td>
          </ng-container>

          <ng-container matColumnDef="nbr9">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.nbr9"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element; let i=index">{{ (i!=0) ? element.nbr9: '' }}</td>
          </ng-container>

          <ng-container matColumnDef="pourcentage9">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.pourcentage9"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element; let i=index">{{ (i!=0) ? round(element.pourcentage9): '' }}</td>
          </ng-container>

          <ng-container matColumnDef="nbr8">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.nbr8"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element; let i=index">{{ (i!=0) ? element.nbr8: '' }}</td>
          </ng-container>

          <ng-container matColumnDef="pourcentage8">
            <th mat-header-cell *matHeaderCellDef>
              <span jhiTranslate="examenDecDscApp.statistique.dataTable.pourcentage8"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element; let i=index">{{ (i!=0) ? round(element.pourcentage8): '' }}</td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

          <tr *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover cursor-pointer"
              mat-row></tr>
        </table>
    </div>

</div>
