<!--========== HEADER ==========-->
<div class="header__container">
    <img src="./../../../content/images/home1.jpg" alt="" class="header__img">

    <a routerLink="/" class="header__logo" jhiTranslate="examenDecDscApp.header.title">DEC-DSC</a>

    <div class="header__search">
        <input type="search" [formControl]="searchCtrl"
            placeholder="{{ 'examenDecDscApp.header.search.placeholder' | translate }}" class="header__input">
        <i class='fa fa-search header__icon'></i>
    </div>

    <div class="header__toggle">
        <i class="fa fa-bars" id="header-toggle"></i>
    </div>
</div>
<!-- <header class="header">
</header> -->
