<div class="a-container">
    <div class="a-header">
        <h2 class="a-title">Sessions</h2>

        <button mat-raised-button (click)="editSession()" color="primary">
            <mat-icon class="mat-18">add</mat-icon>
            <span jhiTranslate="examenDecDscApp.session.grid.add">Ajouter</span>
        </button>
    </div>

    <div class="a-content" [@stagger]="searchStr$.length">
        <div class="a-card" @scaleIn (click)="navigate(item)" *ngFor="let item of searchStr$">
            <div class="a-subheader">
                <h3 class="a-subtitle">{{ item.libelle }}</h3>
            </div>

            <div class="a-subcontent">
                <div class="a-session">
                    <div class="a-item">
                        <h6 class="a-label" jhiTranslate="examenDecDscApp.session.card.dateCreation"></h6>
                        <span class="a-value">{{ item.dateCreation | date:'dd/MM/yyyy' }}</span>
                    </div>

                    <div class="a-item">
                        <h6 class="a-label" jhiTranslate="examenDecDscApp.session.card.dateOuverture"></h6>
                        <span class="a-value">{{ item.dateOuverture | date:'dd/MM/yyyy' }}</span>
                    </div>

                    <div class="a-item">
                        <h6 class="a-label" jhiTranslate="examenDecDscApp.session.card.dateCloture"></h6>
                        <span class="a-value">{{ item.dateCloture | date:'dd/MM/yyyy' }}</span>
                    </div>

                    <div class="a-session-actions" (click)="$event.stopPropagation()">
                        <!-- OUVERTURE ACTIONS -->
                        <button *ngIf="!item.ouverte" [disabled]="item.locked || item.cloture"
                            (click)="openSession(item)"
                            mat-raised-button jhiTranslate="examenDecDscApp.session.card.ouverte.button.0"
                            matTooltip="{{ 'examenDecDscApp.session.card.ouverte.tooltip.0' | translate }}">
                        </button>
                        <button *ngIf="item.ouverte" [disabled]="item.locked || item.cloture"
                            (click)="closeSession(item)"
                            mat-raised-button jhiTranslate="examenDecDscApp.session.card.ouverte.button.1"
                            matTooltip="{{ 'examenDecDscApp.session.card.ouverte.tooltip.1' | translate }}">
                        </button>

                        <!-- CLOTURE ACTIONS -->
                        <button *ngIf="!item.cloture" [disabled]="item.ouverte || item.locked"
                            (click)="clotureSession(item)"
                            mat-raised-button jhiTranslate="examenDecDscApp.session.card.cloture.button.0"
                            matTooltip="{{ 'examenDecDscApp.session.card.cloture.tooltip.0' | translate }}">
                        </button>
                        <button *ngIf="item.cloture" [disabled]="item.ouverte || item.locked"
                            (click)="unClotureSession(item)"
                            mat-raised-button jhiTranslate="examenDecDscApp.session.card.cloture.button.1"
                            matTooltip="{{ 'examenDecDscApp.session.card.cloture.tooltip.1' | translate }}">
                        </button>
                    </div>
                </div>

                <div class="a-actions" (click)="$event.stopPropagation()">
                    <button class="btn-icon" (click)="editSession(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn-icon" (click)="deleteSession(item)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button *ngIf="!item.locked" color="primary" class="btn-icon" (click)="toggleLock(item)"
                        matTooltip="{{ 'examenDecDscApp.session.card.locked.button.0' | translate }}">
                        <mat-icon>lock</mat-icon>
                    </button>
                    <button *ngIf="item.locked" color="accent" class="btn-icon" (click)="toggleLock(item)"
                        matTooltip="{{ 'examenDecDscApp.session.card.locked.button.1' | translate }}">
                        <mat-icon>lock_open</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
