<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidat.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
      <div class="h-max-dialog">
        <div fxLayout="row wrap"  fxLayoutGap="5px">

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.prenom.label"></mat-label>
            <input required cdkFocusInitial formControlName="prenom" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.nom.label"></mat-label>
            <input formControlName="nom" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.dateNaissance.label"></mat-label>
            <input required matInput formControlName="dateNaissance" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('dateNaissance').dirty && form.get('dateNaissance').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.dateNaissance.error.required"></mat-error>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.lieuNaissance.label"></mat-label>
            <input formControlName="lieuNaissance" matInput>
            <mat-error *ngIf="form.get('lieuNaissance').dirty && form.get('lieuNaissance').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.lieuNaissance.error.required"></mat-error>
          </mat-form-field>

          <section class="px-2" class="example-section" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <label class="example-margin"><span jhiTranslate="examenDecDscApp.candidat.edit.sexe.label"></span> * : </label>
            <mat-radio-group required formControlName="sexe">
              <mat-radio-button class="example-margin" value="HOMME">
                <span jhiTranslate="examenDecDscApp.candidat.edit.sexe.homme"></span>
              </mat-radio-button>
              <mat-radio-button class="example-margin" value="FEMME">
                <span jhiTranslate="examenDecDscApp.candidat.edit.sexe.femme"></span>
              </mat-radio-button>
            </mat-radio-group>
          </section>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.nationalite.label"></mat-label>
            <mat-select required formControlName="nationalite" [compareWith]="compare">
              <mat-option *ngFor="let nationalite of nationalites" [value]="nationalite">
                {{ nationalite.libelle }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('nationalite').dirty && form.get('nationalite').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.nationalite.error.required"></mat-error>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse1.label"></mat-label>
            <input formControlName="adresse1" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse2.label"></mat-label>
            <input formControlName="adresse2" matInput>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.adresse3.label"></mat-label>
            <input formControlName="adresse3" matInput>
          </mat-form-field>

          <div class="px-2" fxFlex="calc(50% - 5px)" fxFlex.xs="none">
          </div>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.typePiece.label"></mat-label>
            <mat-select required formControlName="typePiece">
              <mat-option *ngFor="let typePiece of typePieces" [value]="typePiece">
                {{ typePiece }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('typePiece').dirty && form.get('typePiece').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.lieuNaissance.error.required"></mat-error>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.numeroPiece.label"></mat-label>
            <input required formControlName="numeroPiece" matInput>
            <mat-error *ngIf="form.get('numeroPiece').dirty && form.get('numeroPiece').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.numeroPiece.error.required"></mat-error>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.telephone.label"></mat-label>
            <input required formControlName="telephone" matInput>
            <mat-error *ngIf="form.get('telephone').dirty && form.get('telephone').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.telephone.error.required"></mat-error>
          </mat-form-field>

          <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.email.label"></mat-label>
            <input required formControlName="email" matInput>
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.email.error.required"></mat-error>
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')"
                jhiTranslate="examenDecDscApp.candidat.edit.email.error.email"></mat-error>
          </mat-form-field>

          <mat-form-field *jhiHasAnyAuthority="'ROLE_ADMIN'" class="px-2" appearance="outline"
            fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
            <mat-label jhiTranslate="examenDecDscApp.candidat.edit.diplomes.label"></mat-label>
            <mat-select required formControlName="diplomes" multiple [compareWith]="compare">
              <mat-option *ngFor="let diplome of diplomes" [value]="diplome">
                {{ diplome.nom }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('diplomes').dirty && form.get('diplomes').hasError('required')"
                jhiTranslate="examenDecDscApp.candidat.edit.diplomes.error.required"></mat-error>
          </mat-form-field>

        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.candidat.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.candidat.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
