<jhi-header (isShowSidebar)="sidenav.toggle($event)" [isMenuOpened]="isShowSidebar"></jhi-header>

<mat-sidenav-container class="layout">
    <mat-sidenav
        #sidenav
        mode="side"
        [(opened)]="isShowSidebar"
        class="layout-sidebar"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches">

        <jhi-sidebar (selectCandidature)="selectCandidature($event)"
                    (openCandidature)="openCandidature()"></jhi-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="layout-content">
        <ng-content></ng-content>

        <div class="m-1">
            <jhi-candidature-widget *ngIf="candidature" [candidature]="candidature"
                                        (openCandidature)="openCandidature($event)"
                                        (deleteCandidature)="deleteCandidature($event)"
                                        class="mx-1">
                                        </jhi-candidature-widget>

            <mat-card-content *ngIf="!candidature">
                <div class="typography-content__wrapper">
                    <mat-card class="typography-content__item-wrapper">
                        <mat-card-title><p>A propos de la plateforme <mat-icon class="mat-18">domain</mat-icon></p></mat-card-title>
                        <div class="typography-content__headings">
                            <h1>Un petite résumé</h1>

                            <p>
                                Ce site permet une gestion plus rapide et plus efficace des examens nationaux,
                                que sont le <strong>Diplôme Elémentaire Comptable (DEC)</strong> et le <strong>Diplôme Supérieur Comptable (DSC).</strong>
                            </p>
                            <p>C'est une plateforme sécurisée permettant l'automatisation de l'ensemble de toutes les différentes étapes de la gestion d'un examen.
                                Depuis son ouvertue jusqu'à sa cloture passant par le contrôle des différentes candidatures.
                            </p>
                            <div>
                                Sur cette plateforme, vous-y trouverez l'ensemble des informations relatives aux différentes sessions auxquelles vous vous serez inscrits telles que:
                                <ul>
                                    <li>Les dates de tenue des épreuves, votre numéro de table pour chaque examen</li>
                                    <li>Les notes obtenues lors de chaque examen</li>
                                    <li>Les résultats des examens.</li>
                                </ul>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="typography-content__item-wrapper">
                        <img src="./images/a-propos-site.jpg" alt="About">
                    </mat-card>
                </div>

                <div class="typography-content__wrapper">
                    <mat-card class="typography-content__item-wrapper">
                        <mat-card-title>
                            <p>Sur quoi vous pouvez agir ? <mat-icon class="mat-18">wb_incandescent</mat-icon></p>
                        </mat-card-title>
                        <div class="typography-content__settings">
                            <h3></h3>
                            <p>
                                Vous pouvez vous inscrire à n'importe quelle session mais seulement une seule fois. Pendant celle-ci,
                                il vous faudra juste sélectionner les épreuves sur lesquelles vous souhaitez être évalué(e).
                            </p>
                            <div>
                                <span>Les options disponible à cet effet sont:</span>
                                <ul>
                                    <li><mat-icon>edit</mat-icon>CANDIDAT: signifiant que vous souhaitez passer l'épreuve</li>
                                    <li><mat-icon>edit</mat-icon>NON CANDIDAT: donc vous ne serez pas examiné sur cette épreuve et donc par conséquent tenue (l'épreuve) comme étant <strong>invalidée</strong>.</li>
                                    <li><mat-icon>security</mat-icon>DISPENSE: implique qu'il n'est pas nécessaire de la passer et est considérée comme <strong>validée</strong>.</li>
                                    <li><mat-icon>security</mat-icon>REPORT DE NOTE: signifie que la note est reportée depuis une autre session dont l'épreuve a été déjà <strong>validée</strong>.</li>
                                </ul>
                                <span class="warn">Attention: seuls les deux premières options restent disponibles pour un <strong>Candidat</strong></span>
                            </div>

                            <p>
                                Une fois inscrit(e), vous pouvez modifier vos choix tant que votre candidature <strong>n'est pas validée</strong>.
                                <br>
                                Dès lors que cette dernière est validée aucune modification ne sera acceptée. A moins de vous rapprochez des responsables.
                            </p>
                        </div>
                    </mat-card>

                    <mat-card class="typography-content__item-wrapper center">
                        <img src="./images/candidature-image.jpg" alt="Candidature img">
                    </mat-card>
                </div>

                <div class="typography-content__wrapper">
                    <mat-card class="typography-content__item-wrapper">
                        <img src="./images/mail.png" alt="Mail image">
                    </mat-card>
                    <mat-card class="typography-content__item-wrapper">
                        <mat-card-title><p>Comment êtes-vous tenu au courant ? <mat-icon class="mat-18">notifications</mat-icon></p></mat-card-title>
                        <div class="typography-content__size">
                            <h1>Notification par mail <mat-icon class="mat-18">mail</mat-icon></h1>

                            <p>Pour le moment un système de messagerie par mail est utilisé et il est le seule moyen
                                à travers lequel les candidats seront informés.
                            </p>
                            <p>Les messages peuvent contenir des informations sur les numéros de table, sur les dates de tenue des épreuves etc...
                                Mais le plus important, les résultats des différents examens.
                            </p>
                            <p>Vous trouverez ainsi, les détails de vos notes pour chaque épreuve</p>
                        </div>
                    </mat-card>
                </div>

                <div class="typography-content__wrapper">
                    <mat-card class="typography-content__item-wrapper">
                        <mat-card-title>
                            <p>Qui contacter en cas de problème ? <mat-icon class="mat-18">mi-hel</mat-icon></p>
                        </mat-card-title>
                        <div class="typography-content__settings">
                            <h3>S'il y'a des contestations sur les notes:</h3>
                            <p>
                                Dans ces cas, il faut vous rapprochez des autorités responsables de la gestion des examens
                                gérer par cette plateforme.
                            </p>

                            <h3>Si, vous ne recevez pas les notifications correctement:</h3>
                            <p>
                                Cela est fort rare. Il peut provenir d'un problème non discernable pour le moment.
                            </p>
                            <p>Dans tous les cas, signalez ça aux responsables pour qu'ils remontent le problème pour une meilleure prise en charge</p>
                        </div>
                    </mat-card>
                    <mat-card class="typography-content__item-wrapper">
                        <img src="./images/help.jpg" alt="Help image">
                    </mat-card>
                </div>
            </mat-card-content>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

