/* ==========================================================================
Main page styles
========================================================================== */
@import "app/styles/variables";
@import "app/styles/colors";
@import 'app/styles/font';

.layout {
  width: 100%;
}

.layout-sidebar {
  height:calc(100vh - 64px);
  margin-top: 64px;

  @media (max-width: $small) {
    width: 218px;
  }
}

.layout-content {
  background-color: $background-color;
  height:calc(100vh - 64px);
  margin-top: 64px;

  @media (max-width: $small) {
    width: 100%;
  }
}

.hipster {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url('./../../../../content/images/image-session.png') no-repeat top;
  // background-size: 100px;
  // background-size: contain;
}

.title {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(29, 31, 31);
}


img {
  width: 100%;
  border-radius: 10px;
}

.typography-content {

  &__wrapper {
    display: flex;
    padding: 0 8px;

    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }

  &__item-wrapper {
    box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
    width: 100%;
    margin: 16px;
  }

  &__headings, &__colors, &__settings, &__size {
    margin-top: 8px;
    border: 1px dashed $blue;
    padding: 32px 16px;

    h1 {
      @media (max-width: $small) {
        line-height: 46px;
      }
    }
  }

  &__colors {
    &_blue {
      color: $blue;
    }

    &_green {
      color: $green;
    }

    &_pink {
      color: $pink;
    }

    &_yellow {
      color: $yellow;
    }

    &_light-blue {
      color: $light-blue;
    }

    &_violet {
      color: $violet;
    }
  }
}

.fw-light {
  font-weight: $fw-lighter;
}

.fw-medium {
  font-weight: $fw-normal;
}

.fw-bold {
  font-weight: $fw-bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.fst-italic {
  font-style: italic;
}

.fs-sm {
  font-size: $fs-xs;
}

.fs-regular {
  font-size: $fs-small;
}

.fs-md {
  font-size: $fs-medium;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxxl;
}
