 <form (ngSubmit)="accept()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidature.trait.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content class="mt-2 simplebar">
        <div class="-mx-2 px-1" *ngIf="myCandidature">

            <div class="center">
                <p class="font-20 font-weight-bold">{{ candidat?.numeroDossier }}</p>
                <p class="font-20 font-weight-bold">{{ candidat?.nom + ' ' + candidat?.prenom }}</p>
            </div>

            <div class="mr-1" *ngIf="myCandidature.diplomeElementaireNotes.length > 0">
                <div @fadeInRight class="diplome-elementaire m-1 mt-3"
                    *ngFor="let diplomeElementaireNote of myCandidature.diplomeElementaireNotes">

                    <p class="pt-1 pb-0 text-center diplome-elementaire-nom">{{ diplomeElementaireNote.diplomeElementaire?.nom }}</p>

                    <div gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr">

                        <div class="text-center p-1 pt-5" gdColumn="1 / 2" fxHide.lt-md>
                            <button mat-raised-button type="button"
                                [disabled]="session.cloture"
                                (click)="changeTypeCandidature(diplomeElementaireNote.notes)">
                                {{ 'examenDecDscApp.candidature.trait.typeCandidature.' + getTypeCandidature(diplomeElementaireNote.notes) | translate }}
                            </button>
                        </div>

                        <div gdColumn="2 / -1" gdColumn.lt-md="1">
                            <div gdColumns="1fr 1fr" gdColumns.lt-sm="1fr">
                                <div gdColumn="1 span" gdColumn.lt-sm="1" *ngFor="let note of diplomeElementaireNote.notes"
                                    class="border rounded bg-animate m-3 text-center">
                                    <p class="border-bottom p-1"><span jhiTranslate="examenDecDscApp.note.widget.epreuve"></span>: {{ note?.epreuve?.nom }}</p>
                                    <span class="font-weight-bolder text-primary font-15">{{ (note?.note) ? note?.note : ' - '}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" *ngIf="!session.cloture">
        <button mat-button mat-dialog-close color="warn" type="button"
            (click)="reject()" [disabled]="isSaving || candidature.valide == false">
          <span jhiTranslate="examenDecDscApp.candidature.trait.reject"></span>
        </button>

        <button color="primary" mat-stroked-button type="submit" [disabled]="isSaving">
            <span jhiTranslate="examenDecDscApp.candidature.trait.accept">Register</span></button>
    </mat-dialog-actions>
</form>

