.diplome-elementaire {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  text-align: center;
}

.diplome-elementaire-nom {
  transform: translateY(-10px);
  background-color: white;
  display: inline-block;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(0, 132, 255);
  font-family: sans-serif;
}
