<div fxLayout="column">
    <div fxFlex="grow" class="pt-0 overflow-hidden flex">
        <div class="radius-10 p-3">
            <div fxLayout="column" fxLayoutAlign="space-between" class="mat-elevation-z8">
                <div class="h-table">
                    <table [@stagger]="dataSource.filteredData"
                        [dataSource]="dataSource"
                        class="w-full"
                        fxFlex="auto"
                        mat-table
                        matSort>

                        <ng-container matColumnDef="numeroDossier">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span jhiTranslate="examenDecDscApp.jury.result.numero-dossier"></span>
                            </th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.candidat?.numeroDossier }}</td>
                        </ng-container>

                        <ng-container matColumnDef="prenom">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span jhiTranslate="examenDecDscApp.jury.result.prenom"></span>
                            </th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.candidat?.prenom }}</td>
                        </ng-container>

                        <ng-container matColumnDef="nom">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span jhiTranslate="examenDecDscApp.jury.result.nom"></span>
                            </th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.candidat?.nom }}</td>
                        </ng-container>

                        <ng-container matColumnDef="totalGraduation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span jhiTranslate="examenDecDscApp.jury.result.totalGraduation"></span>
                            </th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.totalGraduation }}</td>
                        </ng-container>

                        <ng-container matColumnDef="finalMean">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span jhiTranslate="examenDecDscApp.jury.result.finalMean"></span>
                            </th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.finalMean }}</td>
                        </ng-container>

                        <ng-container [matColumnDef]="column" *ngFor="let column of diplomeElementaireColumns" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
                            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ show(element, column) }}</td>
                        </ng-container>

                        <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

                        <tr (click)="onSelect.emit(row)"
                            *matRowDef="let row; columns: visibleColumns;"
                            @fadeInUp
                            class="hover:bg-hover cursor-pointer"
                            mat-row></tr>
                    </table>
                </div>

                <mat-paginator [fxHide]="dataSource.filteredData.length === 0"
                                [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions"
                                showFirstLastButtons
                                class="sticky bottom-0 left-0 right-0 border-t"
                                fxFlex="none"></mat-paginator>
            </div>
        </div>
    </div>
</div>
