<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
    <head>
        <title th:text="#{email.acceptation.candidature.title}">JHipster acceptation.candidature</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.acceptation.candidature.greeting(@{|${candidat.prenom} ${candidat.nom}|})}">
            Dear
        </p>

        <p th:text="#{email.acceptation.candidature.text1(${session.libelle})}">
            Votre candidature pour la session a été acceptée avec succès
        </p>

        <p th:text="#{email.acceptation.candidature.text2}">
            Vos informations telles que votre numéro de table et les dates pour chaque épreuve vous seront communiquées ultérieurement.
        </p>

        <p th:text="#{email.acceptation.candidature.text3}">
            Merci de vous connecter pour voir les détails de votre candidature.
        </p>

        <p>
            <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="#{email.acceptation.candidature.adress}"></a>
        </p>

        <p>
            <span th:text="#{email.acceptation.candidature.politesse}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Examen DEC DSC.</em>
        </p>
    </body>
</html>



