<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
    <head>
        <title th:text="#{email.close.session.title}">JHipster close.session</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.close.session.greeting(@{|${candidat.prenom} ${candidat.nom}|})}">
            Dear
        </p>

        <p th:text="#{email.close.session.text1(${session.libelle},${examen.nom})}">
            La session viend d'être cloturée
        </p>

        <p th:text="#{email.close.session.text2(${candidature.numeroTable})}">
            Votre numéro de table est:
        </p>

        <p th:text="#{email.close.session.text3}">
            Merci de vous connecter pour voir les détails de votre candidature.
        </p>

        <p>
            <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="#{email.close.session.adress}"></a>
        </p>

        <p>
            <span th:text="#{email.close.session.politesse}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Examen DEC DSC.</em>
        </p>
    </body>
</html>



