<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
    <head>
        <title th:text="#{email.creation.candidat.title}">JHipster creation.candidat</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.creation.candidat.greeting(${candidat.prenom + ' ' + candidat.nom})}">
            Dear
        </p>

        <p th:text="#{email.creation.candidat.text1(${candidat.numeroDossier})}"></p>

        <p th:text="#{email.creation.candidat.text2}"></p>

        <p>
            <a th:with="url=(@{|${baseUrl}|})" th:href="${url}"
            th:text="${url}">My space link</a>
        </p>

        <p>
            <span th:text="#{email.creation.candidat.politesse}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Examen DEC DSC.</em>
        </p>
    </body>
</html>



