<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
    <head>
        <title th:text="#{email.rejection.candidature.title}">JHipster rejection.candidature</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.rejection.candidature.greeting(@{|${candidat.prenom} ${candidat.nom}|})}">
            Dear
        </p>

        <p th:text="#{email.rejection.candidature.text1(${session.libelle})}">
            Votre candidature pour la session a été refusée
        </p>

        <p th:text="#{email.rejection.candidature.text2(${rejectObject})}">
            Parce que : rejectObject
        </p>

        <p th:text="#{email.rejection.candidature.text3}">
            Merci de vous connecter pour y apporter des modifications.
        </p>

        <p>
            <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="#{email.rejection.candidature.adress}"></a>
        </p>

        <p>
            <span th:text="#{email.rejection.candidature.politesse}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Examen DEC DSC.</em>
        </p>
    </body>
</html>



