<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidature.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog">
            <div fxLayout="row wrap"  fxLayoutGap="5px">

                <mat-form-field class="px-2" appearance="outline" fxFlex="calc(50% - 5px)" fxFlex.xs="calc(100% - 5px)">
                <mat-label jhiTranslate="examenDecDscApp.candidature.edit.session.label"></mat-label>
                <mat-select required formControlName="session">
                    <mat-option *ngFor="let session of sessions" [value]="session">
                    {{ session.libelle }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('session').dirty && form.get('session').hasError('required')"
                    jhiTranslate="examenDecDscApp.candidature.edit.session.error.required"></mat-error>
                </mat-form-field>

            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.candidature.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.candidature.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
