.more-vert {
  position: absolute;
  top: 0px;
  right: 0px;
}

p {
  display: inline-block;
  color: rgb(0, 60, 255);
  font-weight: bolder;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p:hover {
  transform: scale(1.1);
}
