<div [@stagger]="docs.length">
    <div @fadeInUp *ngFor="let doc of docs">
        <p>{{ doc.title }}</p>
        <mat-icon class="mat-18">mi-folder</mat-icon>

        <button class="more-vert" [matMenuTriggerFor]="docMenu"
                mat-icon-button
                fxHide.lt-md
                type="button">
                <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>

<mat-menu #docMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="downloadDoc(doc)">
        <mat-icon>file_download</mat-icon>
        <span jhiTranslate="examenDecDscApp.doc.widget.download">Download</span>
    </button>

    <button mat-menu-item (click)="openDoc(doc)">
      <mat-icon>edit</mat-icon>
      <span jhiTranslate="examenDecDscApp.doc.widget.update">Modifier</span>
    </button>

    <button mat-menu-item (click)="deleteDoc(doc)">
      <mat-icon>delete_forever</mat-icon>
      <span jhiTranslate="examenDecDscApp.doc.widget.delete">Supprimer</span>
    </button>
</mat-menu>
