<form (ngSubmit)="repecher()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.repechage.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isRepeching" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog p-3">
            <div class="card text-center my-3 p-2">
                <h4 class="font-weight-bold" jhiTranslate="examenDecDscApp.repechage.edit.candidat"></h4>
                <p class="blue">{{ candidatAbstract.candidat.prenom + candidatAbstract.candidat.nom }}</p>
            </div>
<!--
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px"
                class="mt-2 mb-3"
                *ngFor="let repechage of repechages; let i=index">

                <p fxFlex="calc(40% - 5px)">{{ repechage.diplomeElementaire.nom }}</p>

            </div> -->
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.repechage.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="isRepeching">
        <span jhiTranslate="examenDecDscApp.repechage.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
