<div class="auth-page">
    <div class="auth-page__content-block">
        <div class="auth-page__content-wrapper">
            <mat-tab-group  mat-stretch-tabs dynamicHeight class="auth-page__group">
                <mat-tab label="Espace Candidat">
                    <h4 class="auth-page__group-title">Saisissez vos identifiants</h4>

                    <jhi-candidat-identity></jhi-candidat-identity>

                    <div class="auth-page__border-wrapper">
                        <div class="auth-page__border-line"></div>
                            <p class="auth-page__border-title">or</p>
                        <div class="auth-page__border-line"></div>
                    </div>

                    <div class="auth-page__google-button-wrapper">
                        <a routerLink="/inscription" mat-raised-button class="auth-page__google-button">Créer votre dossier</a>
                    </div>

                </mat-tab>

                <mat-tab label="Administration">
                    <h4 class="auth-page__group-title">Bienvenu !</h4>
                    <p class="auth-page__group-sub-title">Connectez-vous</p>

                    <jhi-login></jhi-login>

                    <!-- <div class="auth-page__border-wrapper">
                    <div class="auth-page__border-line"></div>
                    <p class="auth-page__border-title">or</p>
                    <div class="auth-page__border-line"></div>
                    </div> -->

                    <!-- <div class="auth-page__google-button-wrapper">
                    <button mat-raised-button class="auth-page__google-button">
                    </button>
                    </div> -->
                </mat-tab>
            </mat-tab-group>

            <p class="auth-page__footer-title">© 2014-{{todayDate | year}}. All rights reserved.</p>
        </div>
    </div>

    <div class="auth-page__logo">
        <div class="auth-page__logo-wrapper">
            <p class="auth-page__logo-image"></p>
            <h6 class="auth-page__logo-title">Gestion des examens DEC & DSC</h6>
        </div>
    </div>
  </div>
