<div class="card overflow-hidden" @fadeInUp *ngIf="examen">
    <div style="min-height: 250px;" (click)="openExamen.emit(examen)"
        class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
        matRipple>

        <div class="body-2 text-secondary mb-5">
            <p class="font-weight-bold font-20 text-decoration"
            jhiTranslate="examenDecDscApp.examen.card.nom"></p>
            <span>{{ examen?.nom }}</span>
        </div>

        <div class="body-2 text-secondary mb-5">
            <p class="font-weight-bold font-20 text-decoration"
            jhiTranslate="examenDecDscApp.examen.card.code"></p>
            <span>{{ examen?.code }}</span>
        </div>

        <div class="body-2 text-secondary">
            <p class="font-weight-bold font-20 text-decoration"
            jhiTranslate="examenDecDscApp.examen.card.type"></p>
            <span>{{ examen?.type == 'ADMISSIBILITE' ? 'Admissibilité' : 'Admissible' }}</span>
        </div>
    </div>

    <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
        <a class="text-secondary" mat-icon-button type="button"
            [routerLink]="['/examen', examen.id]">
            <mat-icon>visibility</mat-icon>
        </a>

        <button class="text-secondary" mat-icon-button type="button" (click)="openExamen.emit(examen)">
            <mat-icon>edit</mat-icon>
        </button>

        <button class="text-secondary" mat-icon-button type="button" (click)="deleteExamen.emit(examen)">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
</div>
