<div class="a-container">
    <div class="a-header">
        <h2 class="a-title">Candidats</h2>

        <div class="float-left mr-5" fxHide.lt-md>
            <jhi-file-upload accept="['.xlsx']" (complete)="complete($event)"></jhi-file-upload>
        </div>

        <div>
            <button mat-raised-button (click)="openCandidat()" color="primary">
                <mat-icon class="mat-18">add</mat-icon>
                <span jhiTranslate="examenDecDscApp.candidat.table.add">Ajouter</span>
            </button>
        </div>
    </div>

    <div class="a-content">
        <ul [@stagger]="searchCandidats$.length" class="responsive-table">
            <li class="table-header">
                <div class="i_col i_col-1" jhiTranslate="examenDecDscApp.candidat.dataTable.numeroDossier"></div>
                <div class="i_col i_col-2" jhiTranslate="examenDecDscApp.candidat.dataTable.prenom"></div>
                <div class="i_col i_col-3" jhiTranslate="examenDecDscApp.candidat.dataTable.nom"></div>
                <div class="i_col i_col-4" jhiTranslate="examenDecDscApp.candidat.dataTable.dateNaissance"></div>
                <div class="i_col i_col-5" jhiTranslate="examenDecDscApp.candidat.dataTable.sexe"></div>
                <div class="i_col i_col-6" jhiTranslate="examenDecDscApp.candidat.dataTable.email"></div>
                <div class="i_col i_col-7" jhiTranslate="examenDecDscApp.candidat.dataTable.telephone"></div>
            </li>
            <li @fadeInUp class="table-row" (click)="openCandidat(item)" *ngFor="let item of searchCandidats$" >
                <div class="i_col i_col-1">{{ item.numeroDossier }}</div>
                <div class="i_col i_col-2">{{ item.prenom }}</div>
                <div class="i_col i_col-3">{{ item.nom }}</div>
                <div class="i_col i_col-4">{{ item.dateNaissance }}</div>
                <div class="i_col i_col-5">{{ item.sexe }}</div>
                <div class="i_col i_col-6">{{ item.email }}</div>
                <div class="i_col i_col-7">{{ item.telephone }}</div>
            </li>
        </ul>
    </div>
</div>



