<div class="h-container">
    <div class="h-content" [@stagger]="2">
        <div class="h-block" @fadeInRight>
            <div class="h-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure rerum soluta asperiores laborum accusantium laboriosam porro ut
                natus? Repellendus natus soluta iusto velit, tempore dolorem temporibus ducimus corporis sit. Dolorum!
            </div>
            <div class="h-image">
                <img src="/content/images/home/epreuve-dec.jpg" alt="" />
            </div>
        </div>

        <div class="h-block h-reverse" @fadeInRight>
            <div class="h-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dignissimos sequi temporibus excepturi aut nostrum tempora expedita
                inventore reiciendis eaque, quo quos quas magni aperiam tenetur dolorem fugiat et? Dolores. Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Iure rerum soluta asperiores laborum accusantium laboriosam porro ut natus? Repellendus natus soluta iusto velit,
                tempore dolorem temporibus ducimus corporis sit. Dolorum!
            </div>
            <div class="h-image">
                <img src="/content/images/home/epreuve-dec.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
