// .container {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   margin: 0px;
//   padding: 0px;
// }
// .sidebar {
//   position: relative;
//   width: 60px;
//   /* background: #09062f; */
//   transition: .5s;
//   overflow: hidden;
//   transition: .5s;
//   min-height: 100vh;
//   margin: 0px;
//   padding: 0px;
// }

// .container .sidebar {
//   width: 60px;
//   height: 100vh;
//   background: blue;
// }
// .container .sidebar:hover,
// .container .sidebar.active,
// .container .sidebar:hover .toggle,
// .container .sidebar.active .toggle {
//   width: 300px;
// }


// .container .content {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 100%;
//   height: 100vh;
// }

// .container .content .navbar {
//   width: 100%;
//   height: 60px;
//   background: rgb(29, 42, 85);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   color: white;
// }

// .container .content .rooter {
//   width: 100%;
//   height: 100%;
//   background: rgba(13, 16, 51, 0.2);
// }


.h-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.h-container .h-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h-container .h-content .h-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  transition: 1s ease-in-out;
}
.h-container .h-content .h-block.h-reverse {
  flex-direction: row-reverse;
}
.h-container .h-content .h-block .h-text {
  padding: 10px 20px;
  font-size: 2em;
  transition: 1s ease-in-out;
}
.h-container .h-content .h-block:hover .h-text {
  color: rgb(21, 21, 54);
  transform: scale(1.05);
}
.h-container .h-content .h-block .h-image {

  img {
    width: 300px;
    height: 350px;
  }
}
