<div fxLayout="column">
    <div fxFlex="grow">
        <div class="flex items-center" class=" p-3">
            <jhi-path [crumbs]="['examenDecDscApp.epreuve.home.title']"></jhi-path>

            <div class="float-left mr-5">
                <jhi-file-upload accept="['.xlsx']"
                                (complete)="complete($event)"></jhi-file-upload>
            </div>

            <button (click)="openEpreuve()"
                    class="ltr:ml-1 rtl:mr-1"
                    fxFlex="none"
                    fxHide.gt-xs
                    mat-mini-fab
                    color="primary"
                    type="button">
                <mat-icon>add</mat-icon>
            </button>

            <button (click)="openEpreuve()"
                    fxFlex="none"
                    fxHide.xs
                    mat-raised-button class="normal-height">
                <mat-icon>add</mat-icon>
                <span jhiTranslate="examenDecDscApp.epreuve.table.add">Ajouter</span>
            </button>
        </div>
    </div>

    <jhi-epreuve-data-table (openEpreuve)="openEpreuve($event)"
                        (deleteEpreuve)="deleteEpreuve($event)"
                        [columns]="tableColumns"
                        [data]="tableData"
                        [searchStr]="searchStr$ | async"></jhi-epreuve-data-table>
</div>
