<div fxLayout="column" fxLayoutAlign="space-between" class="mat-elevation-z8">
  <div class="h-table">
    <table [@stagger]="dataSource.filteredData"
          [dataSource]="dataSource"
          class="w-full"
          fxFlex="auto"
          mat-table
          class="mat-elevation-z8"
          matSort>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span jhiTranslate="examenDecDscApp.examen.dataTable.nom"></span>
        </th>
        <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span jhiTranslate="examenDecDscApp.examen.dataTable.type"></span>
        </th>
        <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th *matHeaderCellDef mat-header-cell> </th>
        <td *matCellDef="let row" [ngClass]="['text-secondary', 'w-10']" mat-cell>
            <button (click)="$event.stopPropagation(); examen=row"
                    [matMenuTriggerFor]="examenMenu"
                    mat-icon-button
                    type="button">
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

      <tr (click)="openExamen.emit(row)"
          *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover cursor-pointer"
          mat-row></tr>
    </table>
  </div>

  <mat-paginator [fxHide]="dataSource.filteredData.length === 0"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons
                 class="sticky bottom-0 left-0 right-0 border-t"
                 fxFlex="none"></mat-paginator>
</div>

<mat-menu #examenMenu="matMenu" xPosition="before" yPosition="below">
  <a mat-menu-item [routerLink]="['/examen', examen.id]">
    <mat-icon>details</mat-icon>
    <span>Voir</span>
  </a>

  <button mat-menu-item (click)="openExamen.emit(examen)">
    <mat-icon>edit</mat-icon>
    <span>Modifier</span>
  </button>

  <button mat-menu-item (click)="deleteExamen.emit(examen)">
    <mat-icon>delete_forever</mat-icon>
    <span>Supprimer</span>
  </button>
</mat-menu>
