.more-vert {
  position: absolute;
  top: 0px;
  right: 0px;
}

.file-text {
  display: inline-block;
  color: rgb(0, 60, 255);
  font-weight: bolder;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.file-text:hover {
  transform: scale(1.05);
}
