<div class="pt-2" (click)="load()">
    <h3 class="px-2" jhiTranslate="examenDecDscApp.doc.widget.title"></h3>

    <div [@stagger]="docs.length">
        <div @fadeInUp *ngFor="let doc of docs">
            <button class="file-text" mat-button (click)="downloadDoc(doc)">
                <mat-icon size="10px">file_download</mat-icon>
                <span class="mr-1">{{ doc.title }}</span>
            </button>
        </div>
    </div>

    <div class="px-2" gdColumn="2 / -1" gdColumn.lt-sm="1">
        <jhi-file-upload (complete)="complete($event)"></jhi-file-upload>

        <mat-progress-bar *ngIf="isUploading" mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<mat-menu #docMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="downloadDoc(doc)">
        <mat-icon>file_download</mat-icon>
        <span jhiTranslate="examenDecDscApp.doc.widget.download">Download</span>
    </button>

    <button mat-menu-item (click)="openDoc(doc)">
      <mat-icon>edit</mat-icon>
      <span jhiTranslate="examenDecDscApp.doc.widget.update">Modifier</span>
    </button>

    <button mat-menu-item (click)="deleteDoc(doc)">
      <mat-icon>delete_forever</mat-icon>
      <span jhiTranslate="examenDecDscApp.doc.widget.delete">Supprimer</span>
    </button>
</mat-menu>
