<div fxLayout="column" fxLayoutAlign="space-between" class="mat-elevation-z8">
    <div class="h-table">
        <table [@stagger]="dataSource.filteredData"
            [dataSource]="dataSource"
            class="w-full"
            fxFlex="auto"
            mat-table
            class="mat-elevation-z8"
            matSort>

        <ng-container matColumnDef="valide">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.valide.label"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element"
                [ngStyle]="{'color': getColor(element), 'font-weight': 'bold'}">
                {{ element.valide?(element.dateValidation | date:'dd/MM/yyyy')
                    :(element.valide==false)?('examenDecDscApp.candidature.dataTable.valide.reject' | translate)
                    :('examenDecDscApp.candidature.dataTable.valide.waiting' | translate) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="numeroDossier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.numeroDossier"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.numeroDossier }}</td>
        </ng-container>

        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.prenom"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.prenom }}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.nom"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="dateNaissance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.dateNaissance"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.dateNaissance }}</td>
        </ng-container>

        <ng-container matColumnDef="lieuNaissance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.lieuNaissance"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.lieuNaissance }}</td>
        </ng-container>

        <ng-container matColumnDef="sexe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.sexe"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.sexe }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.email"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.email }}</td>
        </ng-container>

        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span jhiTranslate="examenDecDscApp.candidature.dataTable.telephone"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.candidat?.telephone }}</td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th *matHeaderCellDef mat-header-cell> </th>
            <td *matCellDef="let row" [ngClass]="['text-secondary', 'w-10']" mat-cell>
            <button (click)="$event.stopPropagation(); candidature=row"
                    [matMenuTriggerFor]="candidatureMenu"
                    mat-icon-button
                    type="button">
                <mat-icon>more_vert</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

        <tr (click)="traitCandidature.emit(row)"
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover cursor-pointer"
            mat-row></tr>
        </table>
    </div>

    <div *ngIf="dataSource.filteredData.length === 0"
         @fadeInUp
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-5 h-img-no-data" src="./../../../../../content/images/empty-data.png">
      <h2 class="headline m-0 text-center text-sm" jhiTranslate="examenDecDscApp.candidature.dataTable.no-data"></h2>
    </div>

    <mat-paginator [fxHide]="dataSource.filteredData.length === 0"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    showFirstLastButtons
                    class="sticky bottom-0 left-0 right-0 border-t"
                    fxFlex="none"></mat-paginator>
</div>

<mat-menu #candidatureMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="traitCandidature.emit(candidature)"
        [disabled]="!session.ouverte || session.locked"
        matTooltip="{{ ('examenDecDscApp.candidature.dataTable.trait.tooltip.' + (session.cloture ? 'NO' : 'YES')) | translate }}">
        <mat-icon>assignment</mat-icon>
        <span jhiTranslate="examenDecDscApp.candidature.dataTable.trait.button">Trait</span>
    </button>

    <button mat-menu-item (click)="deleteCandidature.emit(candidature)"
        [disabled]="candidature?.valide || !session.ouverte || session.locked">
        <mat-icon>delete_forever</mat-icon>
        <span jhiTranslate="examenDecDscApp.candidature.dataTable.delete">Supprimer</span>
    </button>
</mat-menu>
