<button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
  <mat-icon class="user-button__icon">person</mat-icon>
</button>
<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="user-menu-title">
    <h3 class="user-menu-title__dossier">{{ user?.numeroDossier }}</h3>
    <h4 class="user-menu-title__name">{{ user?.prenom }} {{ user?.nom }}</h4>
    <h6 class="user-menu-title__link">{{ user?.email }}</h6>
  </div>

  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button (click)="signOut.emit()">Sign out</button>
  </div>
</mat-menu>
