<div class="flex items-center">
    <a [routerLink]="['/']">
        <mat-icon inline="true" size="100px">home</mat-icon>
    </a>

    <ng-container *ngFor="let crumb of crumbs">
        <mat-icon inline=true class="mat-18">navigate_next</mat-icon>
        <a [routerLink]="[]" [jhiTranslate]="crumb"></a>
    </ng-container>
</div>
