<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.diplome.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2">

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="examenDecDscApp.diplome.edit.nom.label"></mat-label>
        <input cdkFocusInitial formControlName="nom" matInput>
        <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')"
            jhiTranslate="examenDecDscApp.diplome.edit.nom.error.required"></mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.diplome.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.diplome.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
