<div fxLayout="column">
    <div fxFlex="grow">
        <div class="flex items-center" class="p-3 m-5">

            <div class="float-left mr-5">
                <jhi-file-upload accept="['.xlsx']" (complete)="upload($event)"></jhi-file-upload>
            </div>

            <!-- <div class="hidden sm:flex items-center bg-card overflow-hidden ltr:pl-5 rtl:pr-5 h-12 max-w-md w-full shadow-8 mx-auto">
                <div>
                    <button mat-raised-button [matMenuTriggerFor]="filtrageMenu">Filtrage
                    </button>
                </div>
            </div> -->
        </div>
    </div>

    <jhi-candidature-data-table (traitCandidature)="traitCandidature($event)"
        (deleteCandidature)="deleteCandidature($event)"
        [columns]="tableColumns"
        [session]="session"
        [data]="searchCandidatures$">
    </jhi-candidature-data-table>

</div>

<!-- <mat-menu #candidatureMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="actionMenu">Effectuer une action</button>
    <button mat-menu-item [matMenuTriggerFor]="filtrageMenu">Filtrage</button>
</mat-menu> -->

<!-- <mat-menu #actionMenu="matMenu">
    <button mat-menu-item (click)="validerCandidature()">
        <mat-icon matPrefix class="mat-18" color="primary">thumb_up</mat-icon>
        <span>Valider demande(s)</span>
    </button>
    <button mat-menu-item (click)="rejeterCandidature()">
        <mat-icon matPrefix class="mat-18" color="accent">thumb_down</mat-icon>
        <span>Refuser demande(s)</span>
    </button>
    <button mat-menu-item>
        <mat-icon matPrefix class="mat-18" color="warn">delete_forever</mat-icon>
        <span>Supprimer demande(s)</span>
    </button>
</mat-menu> -->

<!-- <mat-menu #filtrageMenu="matMenu">
    <button mat-menu-item (click)="filter('all')">
        <mat-icon matPrefix class="mat-18">list</mat-icon>
        <span>Toutes les demandes</span>
    </button>

    <button mat-menu-item (click)="filter('waiting')">Demandes non traitées</button>
    <button mat-menu-item (click)="filter('valide')">Demandes acceptées</button>
    <button mat-menu-item (click)="filter('reject')">Demandes refusées</button>
</mat-menu> -->
