<div fxLayout="row" class="my-2 pt-3 pb-2 px-2 search shadow overflow-hidden">
    <input fxFlex="90%" fx.lt-sm="grow" [formControl]="searchCtrl"
        placeholder="{{ placeholder | translate }}" class="text-search border-0">
    <span fxFlex="5%" fxFlexAlign="end" class="float-right" fxHide.lt-sm matSuffix>
        <mat-icon class="text-secondary flex-none" size="30px">search</mat-icon>
    </span>
</div>
