.search {
  border-block-color: black;
  border-radius: 10px 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  outline: none;
  border: 1px solid black;
}

.text-search {
  font-size: 15px;
  font-weight: bold;
}
