li {
  list-style: none;
}
.n-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0px;
}

/* HEADER */
.n-container .n-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.n-container .n-header .n-title {
  position: relative;
  font-weight: 1.5em;
  color: blue;
  font-weight: bold;
  flex-basis: 100%;
  height: 30px;
  width: 300px;
  background: none;
}
.n-container .n-header .n-upload-download {
  display: flex;
  flex-direction: column;
}
.n-container .n-header .n-upload-download .n-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 10px;
  min-height: 75px;
}
.n-container .n-header .n-upload-download .n-download {
  display: flex;
  align-items: flex-start;
}
.n-container .n-header .n-upload-download .n-download li {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  cursor: pointer;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
.n-container .n-header .n-upload-download .n-download li:hover {
  background: rgba(0, 0, 255, 0.1);
}

.n-container .n-header .n-legend .n-legend-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 2px;
}
.n-container .n-header .n-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px;
}
.n-container .n-header .n-download .n-btn-sheet {
  display: flex;
  align-items: center;
  background: rgba(23, 26, 61, 0.2);
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.n-container .n-header .n-download .n-corrections {
  display: flex;
  margin-left: 10px;
}
.n-container .n-header .n-download .n-correction {
  display: inline-block;
  position: relative;
  border-left: 1px solid;
  font-weight: bold;
  background: none;
  padding: 0px 5px;
  border: none;
  cursor: pointer;
}
.n-container .n-header .n-download .n-correction span {
  color: rgb(19, 19, 49);
  font-weight: bold;
  font-size: 1em;
  transition: 0.5s ease-in-out;
}
.n-container .n-header .n-download .n-correction span:hover {
  font-size: 1.2em;
  color: blue;
}
.n-container .n-header .n-download .n-correction::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 1px;
  left: 0px;
  top: 0px;
  left: 0px;
}
.n-container .n-header .n-download .n-correction::after {
  right: 0px;
}
.n-container .n-header .n-download .n-correction spa:hover {
  color: blue;
  transform: scaleX(1.05);
}

//  CONTENT
:root {
  --gray-color: rgba(128, 128, 128, 0.1);
}
.n-container .n-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.n-container .n-content .n-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  padding: 10px;
  margin: 10px;
  width: 200px;
}
.n-container .n-content .n-card .n-divider {
  height: 2px;
  width: 100%;
  margin: 10px 0px;
  background: var(--gray-color);
}
.n-container .n-content .n-card .n-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 5px 2px 10px;
  transition: 0.5s;
}
.n-container .n-content .n-card .n-head:hover {
  background: var(--gray-color);
}
.n-container .n-content .n-card .n-head .n-title {
  font-size: 1em;
  font-weight: 600;
  font-family: cursive;
  color: rgba(18, 18, 54, 0.61);
  text-shadow: -2px 0px 10px gray;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-in-out;
}
.n-container .n-content .n-card .n-head .n-title {
  text-shadow: 2px 0px 10px gray;
}
.n-container .n-content .n-card .n-head .n-subtitle {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  color: gray;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-in-out;
}
.n-container .n-content .n-card .n-head:hover .n-subtitle {
  transform: translateX(10px) scale(1.05);
}
.n-container .n-content .n-card .n-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.n-container .n-content .n-card .n-body .n-note {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 2px 0px;
  transition: 0.5s;
  flex-basis: 50%;
}
.n-container .n-content .n-card .n-body .n-note:hover {
  justify-content: space-evenly;
}
.n-container .n-content .n-card .n-body .n-note::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 80%;
  height: 0px;
  border-radius: 1px;
  background: var(--gray-color);
  transition: 0.5s ease-in-out;
}
.n-container .n-content .n-card .n-body .n-note:last-child::after {
  visibility: hidden;
}
.n-container .n-content .n-card .n-body .n-note:hover:after {
  opacity: 0;
}
.n-container .n-content .n-card .n-body .n-note:nth-child(odd):hover {
  background: rgba(1, 255, 43, 0.05);
}
.n-container .n-content .n-card .n-body .n-note:nth-child(even):hover {
  background: rgba(21, 4, 255, 0.05);
}
.n-container .n-content .n-card .n-body .n-note .n-label {
  text-align: end;
  color: gray;
  padding: 0px 5px;
  margin: 5px 0px;
}
.n-container .n-content .n-card .n-body .n-note .n-value {
  text-align: start;
  color: gray;
  padding: 0px 5px;
  margin: 5px 0px;
}
.n-container .n-content .n-card .n-body .n-note.n-acceptable {
  box-shadow: 2px 0px 1px rgba(0, 128, 0, 0.3);
}
.n-container .n-content .n-card .n-body .n-note.n-unacceptable {
  box-shadow: 2px 0px 1px rgba(255, 0, 0, 0.1);
}

/* TYPE CANDIDATURE */
.n-container .n-content .n-card .n-body .n-note::before {
  content: '';
  position: absolute;
  left: -0px;
  z-index: -100;
  width: 10px;
  height: 10px;
  clip-path: circle(50% at 50% 50%);
}
.n-container .n-content .n-card .n-body .n-note.n-dot-candidat::before {
  background: blue;
}
.n-container .n-content .n-card .n-body .n-note.n-dot-dispense::before {
  background: green;
}
.n-container .n-content .n-card .n-body .n-note.n-dot-non_candidat::before {
  background: red;
}
.n-container .n-content .n-card .n-body .n-note.n-dot-report_note::before {
  background: black;
}

.n-candidat {
  background: blue;
}
.n-dispense {
  background: green;
}
.n-non_candidat {
  background: red;
}
.n-report_note {
  background: orange;
}

/* TABLE */
.n-table {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.n-table .n-card {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  margin: 10px 0px;
}
@media (max-width: 667px) {
  .n-table .n-card {
    flex-direction: column;
  }
}
.n-card .n-head {
  position: sticky;
  left: 0%;
  background: white;
  box-shadow: 10px 0px 15px white;
  padding: 10px;
  z-index: 2;
}
.n-card .n-head > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 100%;
  h2 {
    text-align: center;
  }
}
.n-card .n-body {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  padding: 10px 0px;
}
.n-card .n-body .n-diplome-elementaire {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(120, 122, 120, 0.5);
  padding: 0px 5px;
  margin: 10px;
}
.n-card .n-body .n-diplome-elementaire h2 {
  position: absolute;
  top: -10px;
  font-size: 1em;
  text-align: center;
  background: white;
  box-shadow: 0px -5px 15px rgba(120, 122, 120, 0.5);
  border-radius: 5px;
  padding: 5px;
  max-width: 80%;
  z-index: 1;
}
.n-card .n-body .n-diplome-elementaire .n-epreuve {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  align-items: center;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  margin-bottom: 5px;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.n-card .n-body .n-diplome-elementaire .n-epreuve::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  opacity: 0.5;
  bottom: 0px;
  left: 25%;
  background-color: black;
  border-radius: 10px;
  z-index: -1;
  transition: 0.5s ease-in;
}
.n-card .n-body .n-diplome-elementaire .n-epreuve:hover:after {
  transform: scaleX(1.8);
}
.n-label {
  font-size: 1em;
  font-weight: bold;
  color: rgb(0, 0, 255);
}
.n-values {
  display: flex;
}
.n-value {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.8em;
  background: rgba(0, 0, 255, 0.5);
  color: white;
  font-weight: bold;
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 10%;
}
.n-value.n-value-p {
  background: green;
}
.n-value.n-value-d {
  background: rgb(248, 5, 155);
}
.n-value.n-value-t {
  background: rgb(20, 34, 20);
}

.n-filter {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  h2 {
    flex-basis: 100%;
  }
  section {
    margin: 0px 10px;
  }
}
mat-checkbox {
  margin: 10px;
}
mat-checkbox:nth-child(1) {
  color: green;
}
mat-checkbox:nth-child(2) {
  color: rgb(5, 248, 175);
}
mat-checkbox:nth-child(3) {
  color: rgb(20, 34, 20);
}
