<div class="n-container">
    <div class="n-header">
        <h3 class="n-title" jhiTranslate="examenDecDscApp.note.table.title">Liste des notes pour les différents candidats</h3>


        <div class="n-upload-download">
            <div class="n-upload">
                <jhi-file-upload accept="['.xlsx']" (complete)="complete($event)"></jhi-file-upload>

                <mat-radio-group [formControl]="typeCorrection" align="'start'">
                    <mat-radio-button value="PREMIERE_CORRECTION">Premier correction</mat-radio-button>
                    <mat-radio-button value="DEUXIEME_CORRECTION">Deuxième correction</mat-radio-button>
                    <mat-radio-button value="TROISIEME_CORRECTION">Troisième correction</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="n-download">
                <section class="example-section" *ngFor="let diplomeElementaire of diplomeElementaires">
                    <span class="example-list-section">{{ diplomeElementaire.nom }}</span>
                    <span class="example-list-section">
                        <ul>
                            <li *ngFor="let epreuve of getEpreuve(diplomeElementaire)"
                                (click)="getEmptySheetNote(epreuve)">
                                <mat-icon matPrefix class="mat-18" color="primary">file_download</mat-icon>
                                <span>{{ epreuve.nom }}</span>
                            </li>
                        </ul>
                    </span>
                </section>
            </div>
        </div>
    </div>

    <div class="n-filter">
        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="correctionTask.allComplete"
                            [color]="correctionTask.color"
                            [indeterminate]="someComplete(correctionTask)"
                            (change)="setAll(correctionTask, $event.checked)">
                {{ correctionTask.name }}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
                <ul>
                    <li *ngFor="let subtask of correctionTask.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete(subtask)">
                            {{ subtask.name }}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>

        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="diplomeTask.allComplete"
                            [color]="diplomeTask.color"
                            [indeterminate]="someComplete(diplomeTask)"
                            (change)="setAll(diplomeTask, $event.checked); filterByDiplomeElementaire()">
                {{ diplomeTask.name }}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
                <ul>
                    <li *ngFor="let subtask of diplomeTask.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete(subtask); filterByDiplomeElementaire()">
                            {{ subtask.name }}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>

        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="epreuveTask.allComplete"
                            [color]="epreuveTask.color"
                            [indeterminate]="someComplete(epreuveTask)"
                            (change)="setAll(epreuveTask, $event.checked); filterByDiplomeElementaire()">
                {{ epreuveTask.name }}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
                <ul>
                    <li *ngFor="let subtask of epreuveTask.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete(subtask); filterByDiplomeElementaire()">
                            {{ subtask.name }}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </div>

    <div class="n-table" [@stagger]="candidatNotesSearch$?.length">
        <div class="n-card" *ngFor="let item of candidatNotesSearch$">
            <div class="n-head">
                <div>
                    <h2>{{ item.candidat.prenom }} {{ item.candidat.nom }}</h2>
                    <h4>{{ item.candidat.numeroDossier}}</h4>
                </div>
            </div>
            <div class="n-body">
                <div class="n-diplome-elementaire" *ngFor="let diplomeElementaire of diplomeElementaires$">
                    <h2>{{ diplomeElementaire.nom }}</h2>
                    <div class="n-epreuve" *ngFor="let note of getNote(item.notes, diplomeElementaire) | sortBy: 'epreuve':'nom'">
                        <div class="n-label">{{ note.epreuve.code }}</div>
                        <div class="n-values">
                            <p class="n-value">{{ note.note }}</p>
                            <p *ngIf="correctionTask.subtasks[0].completed" class="n-value n-value-p">{{ note.notePremiereCorrection }}</p>
                            <p *ngIf="correctionTask.subtasks[1].completed" class="n-value n-value-d">{{ note.noteDeuxiemeCorrection }}</p>
                            <p *ngIf="correctionTask.subtasks[2].completed" class="n-value n-value-t">{{ note.noteTroisiemeCorrection }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
