<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.examen.edit.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type-passage="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2">
        <mat-form-field appearance="outline">
            <mat-label jhiTranslate="examenDecDscApp.examen.edit.nom.label"></mat-label>
            <input cdkFocusInitial required formControlName="nom" matInput>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')"
                jhiTranslate="examenDecDscApp.examen.edit.nom.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label jhiTranslate="examenDecDscApp.examen.edit.code.label"></mat-label>
            <input required formControlName="code" matInput>
            <mat-hint align="end" jhiTranslate="examenDecDscApp.examen.edit.code.hint"></mat-hint>
            <mat-error *ngIf="form.get('code').dirty && form.get('code').hasError('required')"
                jhiTranslate="examenDecDscApp.examen.edit.code.error.required"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label jhiTranslate="examenDecDscApp.examen.edit.type-passage.label"></mat-label>
            <mat-select required formControlName="type">
                <mat-option value="ADMISSIBILITE">
                    <span jhiTranslate="examenDecDscApp.examen.edit.type-passage.admissibile.label"></span>
                </mat-option>
                <mat-option value="ADMISSION">
                    <span jhiTranslate="examenDecDscApp.examen.edit.type-passage.admission.label"></span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p hiTranslate="ExamenDecDscApp.examen.edit.type-passage.admissibile.hint"></p>
        <p hiTranslate="ExamenDecDscApp.examen.edit.type-passage.admission.hint"></p>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">
            <span jhiTranslate="examenDecDscApp.examen.edit.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isSaving">
        <span jhiTranslate="examenDecDscApp.examen.edit.register">Register</span></button>
    </mat-dialog-actions>
</form>
