@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/variables';
@import '~simplebar/dist/simplebar.css';

/* ==============================================================
My CSS
===============================================================*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  display: none
}
::-webkit-scrollbar-track {
  background-color: greenyellow;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background: gray;
  border-radius: 36px;
}
::-webkit-scrollbar-corner {
  background-color: white;
}
::-webkit-resizer { background-color: black;}

*:focus {
  outline: none !important;
  border: 0 !important;
}

.h-img-no-data {
  height: 200px;
}

.h-table {
  max-height: 300px;
  overflow: auto;
}

.h-max-dialog {
  max-height: 300px;
  overflow: auto;
}

.w-table {
  max-width: max-content;
}

.radius-10 {
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.normal-height {
  height: 50px;
}

.w-5 {
  width: 5px;
}
.w-10 {
  width: 10px;
}
.w-20 {
  width: 10px;
}
.w-30 {
  width: 10px;
}

.h-5 {
  height: 5px;
}
.h-10 {
  height: 10px;
}
.h-20 {
  height: 10px;
}
.h-30 {
  height: 10px;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.bg-bleu {
  background: blue;
}
.bg-cadetblue {
  background-color: cadetblue;
}

.rounded-full {
  border-radius: 100%;
}

.decoration-none {
  text-decoration: none;
}

.success {
  background-color: rgba(4, 253, 16, 0.8);
  color: black;
  font-weight: bold;
}

.warning {
  background-color: rgb(255, 165, 0);
  color: black;
  font-weight: bold;
}

.error {
  background-color: rgba(255, 0, 0, 0.9);
  color: black;
  font-weight: bold;
}

.info {
  background-color: rgba(7, 245, 225, 0.8);
  color: black;
  font-weight: bold;
}

.-translateY-50 {
  transform: translateY(-50px);
}

.-mt-100 {
  margin-top: -100px;
}

.super-bottom {
  width: 80%;
  position: relative;
  bottom: 0px;
  transform: translate(0px, -10px);
  height: 10px;
  box-shadow: 0px 10px 10px aqua;
  margin-left: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*
.-mt-50 {
  margin-top: -50px;
}

.mx-1 {
  margin: 0px 1px;
}
.mx-2 {
  margin: 0px 2px;
}
.mx-3 {
  margin: 0px 3px;
}
.mx-4 {
  margin: 0px 4px;
} */

.p-center {
  padding: auto 0px;
}

.py-center {
  padding-top: 50%;
}
.px-center {
  padding-left: 50%;
}

.font-10 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.font-15 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.font-20 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.font-weight-bold {
  font-weight: bold;
}

.text-decoration {
  text-decoration: underline dashed;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
