.special-style {
  background: rgba(235, 237, 238, 0.3);
  color: black;
  font-weight: bolder;
  text-align: center;
}

.accepted {
  background-color: aquamarine;
}

.refused {
  background-color: rgb(248, 151, 151);
}

.title {
  font-size: 25px;
  text-align: left;
  color: rgb(5, 5, 68);
}

.label-candidat {
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.value-candidat {
  font-weight: bolder;
  font-size: 15px;
}

.header-image {
  display: inline-block;
  background-image: url('./../../../../content/images/image-session.png');
  background-size: 50px;
  background-size: cover;
}

.name {
  display: inline-block;
  transform: translate(0px, -15px);
}

.center {
  background-color: rgba(0, 255, 255, 0.445);
  min-width: 300px;
}

.left {
  min-width: 200px;
}

.toggle {
  z-index: 2;
  position: absolute;
  left: 0px;
  transform: translate(-5px, 0px);
}

.icon:hover {
  transform: scale(1.5);
}

mat-drawer {
  z-index: 100;
  width: 30%;
}

.simplebar {
  height: 100%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

.title:hover {
  // font-size: 20px;
  transform: scale(1.05) translate(5px, 0px);
  // transform:
}

.label-value {
  position: relative;
  min-height: 30px;
}

.candidature-value {
  text-decoration: underline;
}

.current-candidature {
  font-size: 10px;
  transform: scale(1.1);
  font-weight: bolder;
  color: rgba(0, 0, 255, 0.603);
}

.current-candidature:hover {
  font-size: 15px;
  color: rgba(94, 255, 0, 0.603);
}

.docs {
  border-top: 1px dashed black;
}
