<mat-card @fadeInRight class="special-style">

    <mat-drawer-container class="h-full" hasBackdrop="false">
        <mat-drawer #drawer mode="side" (openedChange)="toggle($event)" class="mat-drawer">
            <div class="p-1 simplebar">
                <div mat-subheader class="title"
                    jhiTranslate="examenDecDscApp.candidat.detail.candidat.title"></div>

                <div class="row my-1">
                    <div class="col-5">
                        <div mat-card-avatar class="header-image"></div>

                    </div>

                    <div class="col-7">
                        <button mat-icon-button color="primary"
                            [matMenuTriggerFor]="settingMenu">
                            <mat-icon class="mat-18">settings</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.numeroDossier"></p>

                    <p class="col-7 candidature-value">{{ candidat.numeroDossier }}</p>
                </div>

                <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.prenom"></p>

                    <p class="col-7 candidature-value">{{ candidat.prenom }}</p>
                </div>

                <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.nom"></p>

                    <p class="col-7 candidature-value">{{ candidat.nom }}</p>
                </div>

                <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.dateNaissance"></p>

                    <p class="col-7 candidature-value">{{ candidat.dateNaissance | date:'dd-MM-yyyy' }}</p>
                </div>

                <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.lieuNaissance"></p>

                    <p class="col-7 candidature-value">{{ candidat.lieuNaissance }}</p>
                </div>

                <div class="row my-1">
                    <p class="col-5 font-weight-bold" jhiTranslate="examenDecDscApp.candidat.detail.candidat.telephone"></p>

                    <p class="col-7 candidature-value">{{ candidat.telephone }}</p>
                </div> -->

                <mat-divider class="my-1"></mat-divider>

                <div mat-subheader class="title mt-3"
                    jhiTranslate="examenDecDscApp.candidat.detail.candidatures.title"></div>

                <mat-list-item>
                    <button mat-stroked-button color="primary" (click)="openCandidature()">
                        <mat-icon class="mat-18">add</mat-icon>
                        <span>Nouvelle candidature</span>
                    </button>

                    <div [ngClass]="{'current-candidature': candidature.id==element.id}"
                         *ngFor="let element of candidatures">
                        <button mat-button (click)="changeCandidature(element)">{{ element.session.libelle }}</button>
                    </div>
                </mat-list-item>

                <mat-divider class="my-1"></mat-divider>

                <div mat-subheader class="title mt-3"
                    jhiTranslate="examenDecDscApp.candidat.detail.diplomes.title"></div>

                <div class="row my-1">
                    <p class="col-12" *ngFor="let diplome of candidat.diplomes">
                        {{ diplome.nom }}
                    </p>
                </div>

                <div class="mt-2 mb-3 docs">
                    <jhi-doc-widget [candidat]="candidat"></jhi-doc-widget>
                </div>

            </div>
        </mat-drawer>

        <mat-drawer-content>
            <button mat-icon-button (click)="drawer.toggle();"
                class="float-left toggle">
                <mat-icon class="icon" @scaleIn *ngIf="!statToggle">arrow_forward</mat-icon>
                <mat-icon class="icon" @scaleIn *ngIf="statToggle">arrow_back</mat-icon>
            </button>

            <div class="ml-4">
                <jhi-candidature-widget *ngIf="candidature" [candidature]="candidature"
                                        (openCandidature)="openCandidature($event)"
                                        (deleteCandidature)="deleteCandidature($event)"
                                        class="mx-1">
                                        </jhi-candidature-widget>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</mat-card>


<mat-menu #settingMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="openCandidat()" color="primary">
        <mat-icon class="mat-18">edit</mat-icon>
        <span jhiTranslate="examenDecDscApp.candidat.detail.settings.edit"></span>
    </button>

    <button mat-menu-item (click)="close()">
        <mat-icon>close</mat-icon>
        <span jhiTranslate="examenDecDscApp.candidat.detail.settings.close"></span>
    </button>
</mat-menu>
