@import 'app/styles/colors';
@import 'app/styles/font';
@import 'app/styles/variables';

.sidebar {
  border-bottom: 1px solid $gray-80;
  width: 300px;
  padding-bottom: 16px;
  min-height: 1vh;
}

.mat-icon {
  margin-right: 15px;
  color: $sidebar-icon-color;
}

.subheader {
  font-size: 25px;
  color: blue;
  font-weight: bold;
  font-family: serif;
}

span {
  color: black;
}

.content {
  height: 700px;
  background: rgba(235, 237, 238, 0.3);
  color: black;
  font-weight: bolder;
  text-align: center;
}

mat-drawer-container {
  height: 700px;
  width: 100%;
  position: inherit; height: 100%; display: inherit; transform: inherit;
}

mat-drawer-content {
  height: 700px;
}

// .sidebar {
//   min-height: 600px;
//   width: fit-content;
// }

.accepted {
  background-color: aquamarine;
}

.refused {
  background-color: rgb(248, 151, 151);
}

.title {
  font-size: 25px;
  text-align: left;
  color: rgb(5, 5, 68);
}

.label-candidat {
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.value-candidat {
  font-weight: bolder;
  font-size: 15px;
}

.name {
  display: inline-block;
  transform: translate(0px, -15px);
}

.center {
  background-color: rgba(0, 255, 255, 0.445);
  min-width: 300px;
}

.left {
  min-width: 200px;
}

.toggle {
  z-index: 2;
  position: absolute;
  left: 0px;
  transform: translate(-5px, 0px);
}

.icon:hover {
  transform: scale(1.5);
}

mat-drawer {
  z-index: 100;
  width: 30%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

.title:hover {
  // font-size: 20px;
  transform: scale(1.05) translate(5px, 0px);
  // transform:
}

.candidature-value {
  text-decoration: underline;
}

.current-candidature {
  font-size: 10px;
  transform: scale(1.1);
  font-weight: bolder;
  color: rgba(0, 0, 255, 0.603);
}

.current-candidature:hover {
  font-size: 15px;
  color: rgba(94, 255, 0, 0.603);
}

.docs {
  border-top: 1px dashed black;
}

.candidatures {
  text-align: center;
  margin: 0 auto;
}

.candidatures>div {
  width: 100%
}




.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0px 10px;
}

.info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-label {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: blue;
  height: 50px;
  padding-left: 20px;
  padding-bottom: 1px;
}

.info-label::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50%;
  height: 5px;
  transform: translateX(-10px) translateY(-5px);
  background: rgba(38, 255, 0, 0.2);
  transition: .5s ease-in-out;
  z-index: -1;
}

.info-value {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: green;
  height: 50px;
  padding-left: 20px;
  padding-bottom: 1px;
}

.info-value::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50%;
  height: 5px;
  transform: translateX(-10px) translateY(-5px);
  background: rgba(29, 25, 250, 0.2);
  transition: .5s ease-in-out;
  z-index: -1;
}

.info-content:hover .info-label::before {
  background: rgba(29, 25, 250, 0.2);
  width: 100%;
}

.info-content:hover .info-value::after {
  background: rgba(38, 255, 0, 0.2);
  width: 100%;
}

