<div class="sidebar p-2">
    <mat-list [disableRipple]="false">
        <h3 mat-subheader class="subheader" jhiTranslate="examenDecDscApp.candidat.detail.candidat.title">
            My informations
        </h3>

        <div class="info-container">
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.numeroDossier"></p>
                <p class="info-value">{{ candidat.numeroDossier }}</p>
            </div>
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.prenom"></p>
                <p class="info-value">{{ candidat.prenom }}</p>
            </div>
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.nom"></p>
                <p class="info-value">{{ candidat.nom }}</p>
            </div>
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.dateNaissance"></p>
                <p class="info-value">{{ candidat.dateNaissance | date:'dd-MM-yyyy' }}</p>
            </div>
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.lieuNaissance"></p>
                <p class="info-value">{{ candidat.lieuNaissance }}</p>
            </div>
            <div class="info-content">
                <p class="info-label" jhiTranslate="examenDecDscApp.candidat.detail.candidat.telephone"></p>
                <p class="info-value">{{ candidat.telephone }}</p>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h3 mat-subheader class="subheader" jhiTranslate="examenDecDscApp.candidat.detail.candidatures.title">
            My candidatures
        </h3>

        <div class="candidatures my-2">
            <button mat-stroked-button color="primary" (click)="openCandidature.emit()">
                <mat-icon class="mat-18">add</mat-icon>
                <span>Nouvelle candidature</span>
            </button>

            <div [ngClass]="{'current-candidature': candidature.id==element.id}"
                *ngFor="let element of candidatures$ | async"
                class="p-1">
                <button mat-button (click)="changeCandidature(element)">{{ element.session.libelle }}</button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h3 mat-subheader class="subheader" jhiTranslate="examenDecDscApp.candidat.detail.diplomes.title">
            My grades
        </h3>

        <div class="row my-1">
            <p class="col-12" *ngFor="let diplome of candidat.diplomes">
                {{ diplome.nom }}
            </p>
        </div>

        <div class="mt-2 mb-3 docs">
            <jhi-doc-widget [candidat]="candidat"></jhi-doc-widget>
        </div>
    </mat-list>
</div>
