.special-style {
  background: rgba(235, 237, 238, 0.3);
  color: black;
  font-weight: bolder;
  text-align: center;
}

.h-full {
  min-height: 500px;
}

.toggle {
  z-index: 2;
  position: absolute;
  left: 0px;
}

.icon:hover {
  transform: scale(1.5);
}

mat-drawer {
  z-index: 100;
  min-width: 30%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

.title:hover {
  font-size: 20px;
}

.links {
  color: black;
}

.active {
  transform: scale(1.1);
  font-weight: bolder;
  color: blue;
}

// mat-drawer-content {
//   padding: 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }
