<mat-card @fadeInRight class="special-style">

    <button mat-icon-button (click)="drawer.toggle();"
        class="float-left toggle">
        <mat-icon class="icon" @scaleIn *ngIf="!statToggle">menu</mat-icon>
        <mat-icon class="icon" @scaleIn *ngIf="statToggle">arrow_back</mat-icon>
    </button>

    <mat-drawer-container class="h-full" [hasBackdrop]="true">
        <mat-drawer #drawer mode="over" (openedChange)="toggle($event)" class="mat-drawer">
            <mat-list class="ml-5">
                <div mat-subheader class="title"
                    jhiTranslate="examenDecDscApp.session.detail.sidebar.session.title">Session</div>
                <mat-list-item *ngFor="let item of sessionMenu">
                    <div class="links">
                        <a [routerLink]="[item.link]" routerLinkActive="active"
                            (click)="drawer.toggle()" mat-button
                            [jhiTranslate]="item.i18n"></a>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>
              </mat-list>
        </mat-drawer>

        <mat-drawer-content class="pl-4">

            <div>
                <router-outlet></router-outlet>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</mat-card>
