.item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(218, 206, 206, 0.301);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 5px 10px 5px 10px;
}

.title-info {
  font-size: 20px;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.title-item {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.abstract {
  font-size: 20px;
  position: relative;
}

.abstract > p {
  display: inline-block;
  font-weight: bold;
}

.abstract > span {
  color: blue;
  font-style: italic;
  text-decoration: underline;
}
