<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.note.candidature.title">Suppression</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<br>
<mat-dialog-content fxLayout="column">
    <mat-progress-bar *ngIf="isSaving" mode="indeterminate" color="primary"></mat-progress-bar>
    <h6 class="title-info" jhiTranslate="examenDecDscApp.note.candidature.detail"></h6>

    <div>
        <div class="item" *ngIf="candidat.length > 0">
            <p @fadeInRight jhiTranslate="examenDecDscApp.note.candidature.CANDIDAT"
                class="title-item"></p>
            <span>{{ candidat }}</span>
        </div>

        <div class="item" *ngIf="reportNote.length > 0">
            <p @fadeInRight jhiTranslate="examenDecDscApp.note.candidature.REPORT_NOTE"
                class="title-item"></p>
            <span>{{ reportNote }}</span>
        </div>

        <div class="item" *ngIf="dispense.length > 0">
            <p @fadeInRight jhiTranslate="examenDecDscApp.note.candidature.DISPENSE"
                class="title-item"></p>
            <span>{{ dispense }}</span>
        </div>

        <div class="item" *ngIf="nonCandidat.length > 0">
            <p @fadeInRight jhiTranslate="examenDecDscApp.note.candidature.NON_CANDIDAT"
                class="title-item"></p>
            <span>{{ nonCandidat }}</span>
        </div>

        <mat-divider></mat-divider>

        <div class="abstract mt-3">
            <p @fadeInRight *ngIf="nbrTotal" jhiTranslate="examenDecDscApp.note.candidature.total"></p>
            <span>{{ nbrTotal }}</span>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
        <span jhiTranslate="examenDecDscApp.note.candidature.cancel">Cancel</span>
    </button>
    <button cdkFocusInitial color="warn" mat-button [disabled]="!isCorrect || isSaving" (click)="save()">
        <span jhiTranslate="examenDecDscApp.note.candidature.confirm">Confirm</span>
    </button>
</mat-dialog-actions>
