<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.epreuve.upload.title">Suppression</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<br>
<mat-dialog-content fxLayout="column">
    <mat-progress-bar *ngIf="isUploading || isSaving" mode="indeterminate" color="primary"></mat-progress-bar>

    <table [@stagger]="dataSource.filteredData"
            [dataSource]="dataSource"
            class="w-full"
            fxFlex="auto"
            mat-table>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.code"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.code }}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.nom"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.type"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.type }}</td>
        </ng-container>

        <ng-container matColumnDef="diplomeElementaire">
            <th mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="examenDecDscApp.epreuve.dataTable.diplomeElementaire"></span>
            </th>
            <td mat-cell [ngClass]="['min-w-9font-medium']" *matCellDef="let element">{{ element?.diplomeElementaire?.nom }}</td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

        <tr *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover cursor-pointer"
            mat-row></tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
        <span jhiTranslate="examenDecDscApp.epreuve.upload.cancel">Cancel</span>
    </button>
    <button cdkFocusInitial color="warn" mat-button [disabled]="isUploading || isSaving" (click)="save()">
        <span jhiTranslate="examenDecDscApp.epreuve.upload.register">Confirm</span>
    </button>
</mat-dialog-actions>
