<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-1" fxFlex="auto" jhiTranslate="login.title"></h2>

      <button class="text-secondary" mat-dialog-close mat-icon-button type-passage="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-divider class="mt-2"></mat-divider>

    <mat-dialog-content fxLayout="column" class="m-2 p-2">
        <mat-form-field fxFlex="80%" fxFlex.lt-md="grow">
            <mat-label jhiTranslate="global.form.username.label"></mat-label>
            <input cdkFocusInitial formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="80%" fxFlex.lt-md="grow">
            <mat-label jhiTranslate="login.form.password"></mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>

        <mat-checkbox name="rememberMe" id="rememberMe" formControlName="rememberMe"
            color="primary">
            <span jhiTranslate="login.form.rememberme">Remember me</span>
        </mat-checkbox>

        <mat-dialog-actions align="end">
            <button color="primary" mat-raised-button type="submit">
                <span jhiTranslate="login.form.button"></span>
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>


    <div class="m-2">
        <div class="mt-3 alert alert-warning">
            <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
        </div>

        <div class="alert alert-warning">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
            <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
    </div>
</form>

