<jhi-layout>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="agm-map">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
  </agm-map>
</jhi-layout>
