<form (ngSubmit)="check()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0" fxFlex="auto" jhiTranslate="examenDecDscApp.candidat.identity.title"></h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-progress-bar *ngIf="isChecking" mode="indeterminate"></mat-progress-bar>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="mt-2 simplebar">
        <div class="h-max-dialog">
            <div fxLayout="row wrap"  fxLayoutGap="5px">

            <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
                <mat-label jhiTranslate="examenDecDscApp.candidat.identity.numeroDossier.label"></mat-label>
                <input cdkFocusInitial formControlName="numeroDossier" matInput>
                <mat-error *ngIf="form.get('numeroDossier').dirty && form.get('numeroDossier').hasError('required')"
                    jhiTranslate="examenDecDscApp.candidat.identity.numeroDossier.error.required"></mat-error>
            </mat-form-field>

            <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
                <mat-label jhiTranslate="examenDecDscApp.candidat.identity.email.label"></mat-label>
                <input formControlName="email" type="email" matInput>
                <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')"
                    jhiTranslate="examenDecDscApp.candidat.identity.email.error.required"></mat-error>
                <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')"
                    jhiTranslate="examenDecDscApp.candidat.identity.email.error.email"></mat-error>
            </mat-form-field>

            <mat-form-field class="px-2" appearance="outline" fxFlex="calc(100% - 5px)">
                <mat-label jhiTranslate="examenDecDscApp.candidat.identity.telephone.label"></mat-label>
                <input formControlName="telephone" type="tel" matInput>
                <mat-error *ngIf="form.get('telephone').dirty && form.get('telephone').hasError('required')"
                    jhiTranslate="examenDecDscApp.candidat.identity.telephone.error.required"></mat-error>
            </mat-form-field>

            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">
          <span jhiTranslate="examenDecDscApp.candidat.identity.cancel"></span>
        </button>
      <button color="primary" mat-button type="submit" [disabled]="form.invalid || isChecking">
        <span jhiTranslate="examenDecDscApp.candidat.identity.check">Register</span></button>
    </mat-dialog-actions>
</form>
