<jhi-layout>
  <mat-toolbar role="heading" class="page-header">
    <h1>Charts Page - Data Display</h1>
    <button mat-flat-button color="warn">Latest Reports</button>
  </mat-toolbar>

  <div class="charts-content">
    <div class="charts-content__charts-wrapper">

      <mat-card class="charts-content__chart-item">
        <mat-card-title>
          <p>Apex Line Chart</p>
        </mat-card-title>
        <jhi-line-chart [lineChartData]="lineChartData$ | async"></jhi-line-chart>
      </mat-card>

      <mat-card class="charts-content__chart-item">
        <mat-card-title>
          <p>Apex Heatmap Chart</p>
        </mat-card-title>
        <jhi-heatmap-chart [heatmapChartData]="heatmapChartData$ | async"></jhi-heatmap-chart>
      </mat-card>
    </div>

    <div class="charts-content__charts-wrapper">
      <mat-card class="charts-content__chart-item">
        <mat-card-title>
          <p>Apex Dashed Line Chart</p>
        </mat-card-title>
        <jhi-dashed-line-chart [dashedLineChartData]="dashedLineChartData$ | async"></jhi-dashed-line-chart>
      </mat-card>

      <mat-card class="charts-content__chart-item">
        <mat-card-title>
          <p>Apex Pie Chart</p>
        </mat-card-title>
        <jhi-pie-chart [pieChartData]="pieChartData$ | async"></jhi-pie-chart>
      </mat-card>
    </div>
  </div>

  <jhi-footer></jhi-footer>
</jhi-layout>
