<!-- <mat-card class="example-card" *ngIf="session" >
    <img mat-card-image src="./examen.jpg" alt="Photo of a Shiba Inu">

    <button (click)="$event.stopPropagation();"
            [matMenuTriggerFor]="sessionMenu"
            mat-icon-button class="more"
            type="button">
            <mat-icon>more_vert</mat-icon>
    </button>

    <mat-card-content>
        <h1 class="title">{{ session?.libelle }}</h1>

        <div class="content">
            <div class="body-2 date text-secondary mb-1">
                <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateCreation"></h6>
                <span class="text-info font-15">{{ session.dateCreation | date:'dd/MM/yyyy' }}</span>
            </div>

            <div class="body-2 date text-secondary mb-1" *ngIf="session.ouverte">
                <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateOuverture"></h6>
                <span class="text-info font-15">{{ session.dateOuverture | date:'dd/MM/yyyy' }}</span>
            </div>

            <div class="body-2 date text-secondary mb-1" *ngIf="session.cloture">
                <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateCloture"></h6>
                <span class="text-info font-15">{{ session.dateCloture | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions class="bottom">
        <a [routerLink]="['/session', session.id]" mat-button class="button">
            <span jhiTranslate="examenDecDscApp.session.card.detail"></span>
            <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>


<mat-menu #sessionMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="editSession.emit(session)">
        <mat-icon>edit</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.card.update"></span>
    </button>

    <button mat-menu-item (click)="deleteSession.emit(session)">
        <mat-icon>delete_forever</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.card.delete"></span>
    </button>

    <button mat-menu-item (click)="openSession.emit(session)"
        *ngIf="!session.ouverte"
        matTooltip="{{ 'examenDecDscApp.session.card.open.tooltip' | translate }}">
        <mat-icon>lock_open</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.card.open.button"></span>
    </button>

    <button mat-menu-item (click)="closeSession.emit(session)"
        *ngIf="!session.cloture"
        matTooltip="{{ 'examenDecDscApp.session.card.close.tooltip' | translate }}">
        <mat-icon>lock</mat-icon>
        <span jhiTranslate="examenDecDscApp.session.card.close.button"></span>
    </button>
</mat-menu> -->

<div class="session-card">
  <div class="image">
    <img src="examen.jpg" alt="An simple image" />
  </div>
  <h3 class="title">{{ session?.libelle }}</h3>
  <div class="content">
    <div class="data">
        <div class="body-2 date text-secondary mb-1">
            <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateCreation"></h6>
            <span class="text-info font-15">{{ session.dateCreation | date:'dd/MM/yyyy' }}</span>
        </div>

        <div class="body-2 date text-secondary mb-1" *ngIf="session.ouverte">
            <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateOuverture"></h6>
            <span class="text-info font-15">{{ session.dateOuverture | date:'dd/MM/yyyy' }}</span>
        </div>

        <div class="body-2 date text-secondary mb-1" *ngIf="session.cloture">
            <h6 class="font-weight-bold inline-block" jhiTranslate="examenDecDscApp.session.card.dateCloture"></h6>
            <span class="text-info font-15">{{ session.dateCloture | date:'dd/MM/yyyy' }}</span>
        </div>
    </div>
    <div class="actions">
      <button class="btn-icon">X</button>
      <button class="btn-icon">O</button>
      <button class="btn-icon">D</button>
    </div>
  </div>
</div>
