* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.session-card {
  position: relative;
  background-color: white;
  max-width: 300px;
  height: 250px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: .5s ease-in-out;
}

.session-card:hover {
  height: 400px;
}

.session-card .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.session-card .image img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}

.title {
  position: relative;
  margin-top: -40px;
}

.session-card .content {
  position: relative;
  top: -200px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  transition: .5s ease-in-out;
}

.session-card:hover .content {
  top: 5px;
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}

.session-card .content .actions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -30%;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in-out;
}

.session-card:hover .content .actions {
  right: -10%;
  visibility: visible;
  opacity: 1;
  transition-delay: .5s;
}

.session-card .content .actions .btn-icon {
  width: 50px;
  height: 50px;
  transition: transform .5s;
}

.session-card .content .actions .btn-icon:hover {
  transform: translateX(-10px);
  /* transform: scaleX(2); */
}
